EnvironmentalTemperatureHumidityPressureAirQualitySensor.json
[{"id":"edabe7708d2a664c","type":"subflow","name":"Environment Sensor","info":"","category":"NCD","in":[{"x":180,"y":620,"wires":[{"id":"b1474b5ea82287ae"}]}],"out":[],"env":[{"name":"Path","type":"str","value":"","ui":{"icon":"font-awesome/fa-folder-open-o","label":{"en-US":"Custom Path"},"type":"input","opts":{"types":["str"]}}}],"meta":{"author":"ncd.io"},"color":"#3FADB5","icon":"font-awesome/fa-area-chart","status":{"x":2500,"y":620,"wires":[{"id":"0915def395be14f5","port":0}]}},{"id":"701f37bed448308f","type":"ui-gauge","z":"edabe7708d2a664c","g":"5545d38980979783","name":"Temperature C","group":"cf9351fe8c328f36","order":1,"width":"2","height":"5","gtype":"gauge-34","gstyle":"needle","title":"Temperature","units":"°C","icon":"","prefix":"","suffix":"","segments":[{"from":"-40","color":"#0097f5"},{"from":"0","color":"#30b300"},{"from":"27","color":"#fbff00"},{"from":"40","color":"#ff0000"}],"min":"-40","max":"85","sizeThickness":"22","sizeGap":"4","sizeKeyThickness":"10","styleRounded":true,"styleGlow":false,"className":"","x":3160,"y":560,"wires":[]},{"id":"7ee9f7cbd073cfa9","type":"ui-chart","z":"edabe7708d2a664c","g":"5545d38980979783","group":"cf9351fe8c328f36","name":"History (°C)","label":"","order":2,"chartType":"line","category":"topic","categoryType":"msg","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"temperature","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":4,"showLegend":false,"removeOlder":"30","removeOlderUnit":"60","removeOlderPoints":"50","colors":["#ff7b00","#028a00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"6","className":"historyGraph","x":3170,"y":600,"wires":[[]]},{"id":"f0bf3539a918c488","type":"link in","z":"edabe7708d2a664c","g":"5545d38980979783","name":"tempDashboard","links":["f23408d8e0263d9f"],"x":2965,"y":540,"wires":[["87aa299874233883","17f26ab0b46d627d"]]},{"id":"a6231c0051742e83","type":"ui-gauge","z":"edabe7708d2a664c","g":"5545d38980979783","name":"","group":"f75d8b5ba5c68edd","order":1,"width":"2","height":"5","gtype":"gauge-34","gstyle":"needle","title":"Pressure","units":"hPa","icon":"","prefix":"","suffix":"","segments":[{"from":"300","color":"#0097f5"},{"from":"400","color":"#30b300"},{"from":"600","color":"#fbff00"},{"from":"800","color":"#ff0000"}],"min":"300","max":"2000","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":3180,"y":680,"wires":[]},{"id":"8f4f8fbe12fa1122","type":"ui-chart","z":"edabe7708d2a664c","g":"5545d38980979783","group":"f75d8b5ba5c68edd","name":"History (hPa)","label":"","order":2,"chartType":"line","category":"topic","categoryType":"msg","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"pressure","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":4,"showLegend":false,"removeOlder":"30","removeOlderUnit":"60","removeOlderPoints":"50","colors":["#303131","#028a00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"6","className":"historyGraph","x":3170,"y":720,"wires":[[]]},{"id":"8d361e83571083c4","type":"link in","z":"edabe7708d2a664c","g":"5545d38980979783","name":"battDashboard","links":["dffa5a696d7a2464"],"x":2965,"y":920,"wires":[["17967e930b37608c"]]},{"id":"a37b6cf24b5bd5b1","type":"ui-gauge","z":"edabe7708d2a664c","g":"5545d38980979783","name":"","group":"8bbea087d814c6ac","order":1,"width":"2","height":"5","gtype":"gauge-34","gstyle":"needle","title":"Humidity","units":"%","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#0097f5"},{"from":"10","color":"#30b300"},{"from":"87","color":"#fbff00"},{"from":"90","color":"#ff0000"}],"min":"0","max":"100","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":3180,"y":760,"wires":[]},{"id":"268c25229c4875bf","type":"ui-chart","z":"edabe7708d2a664c","g":"5545d38980979783","group":"8bbea087d814c6ac","name":"History (%)","label":"","order":2,"chartType":"line","category":"topic","categoryType":"msg","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"humidity","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":4,"showLegend":false,"removeOlder":"30","removeOlderUnit":"60","removeOlderPoints":"50","colors":["#0024b3","#006eff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"6","className":"historyGraph","x":3170,"y":800,"wires":[[]]},{"id":"82c58ea770f52f0b","type":"link in","z":"edabe7708d2a664c","g":"5545d38980979783","name":"pressDashboard","links":["914ee9ce2e55ac1f"],"x":2965,"y":680,"wires":[["a6231c0051742e83"]]},{"id":"ab0185a1cf73ad62","type":"link in","z":"edabe7708d2a664c","g":"5545d38980979783","name":"humDashboard","links":["684e98c4ec39c837"],"x":2965,"y":760,"wires":[["a37b6cf24b5bd5b1"]]},{"id":"97f812c2b5220649","type":"ui-gauge","z":"edabe7708d2a664c","g":"5545d38980979783","name":"","group":"91e19a0f2deaf979","order":1,"width":"2","height":"5","gtype":"gauge-34","gstyle":"needle","title":"Gas Resistance","units":"Ω","icon":"","prefix":"","suffix":"","segments":[{"from":"4000","color":"#0097f5"},{"from":"10000","color":"#30b300"},{"from":"1000000","color":"#fbff00"},{"from":"10000000","color":"#ff0000"}],"min":"4000","max":"20000000","sizeThickness":"15","sizeGap":"4","sizeKeyThickness":"8","styleRounded":true,"styleGlow":false,"className":"","x":3160,"y":840,"wires":[]},{"id":"4d771fddd9078201","type":"ui-chart","z":"edabe7708d2a664c","g":"5545d38980979783","group":"91e19a0f2deaf979","name":"History (Ω)","label":"","order":2,"chartType":"line","category":"topic","categoryType":"msg","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"gas_resistance","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":4,"showLegend":false,"removeOlder":"30","removeOlderUnit":"60","removeOlderPoints":"50","colors":["#01839d","#009996","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"6","className":"historyGraph","x":3170,"y":880,"wires":[[]]},{"id":"4eca56ab560de4c4","type":"link in","z":"edabe7708d2a664c","g":"5545d38980979783","name":"gasDashboard","links":["5d93344d33fc2825"],"x":2965,"y":840,"wires":[["97f812c2b5220649"]]},{"id":"f70b8ad7d285e982","type":"link in","z":"edabe7708d2a664c","g":"5545d38980979783","name":"iaqDashboard","links":["6188637f0a5d8a8d"],"x":2965,"y":1000,"wires":[["ad80122f0e02eb46"]]},{"id":"75e31f3b7fbeb688","type":"ui-gauge","z":"edabe7708d2a664c","g":"5545d38980979783","name":"Temperature F","group":"9d2cef96a932d698","order":1,"width":"2","height":"5","gtype":"gauge-34","gstyle":"needle","title":"Temperature","units":"°F","icon":"","prefix":"","suffix":"","segments":[{"from":"-40","color":"#0097f5"},{"from":"0","color":"#30b300"},{"from":"100","color":"#fbff00"},{"from":"150","color":"#ff0000"}],"min":"-40","max":"185","sizeThickness":"22","sizeGap":4,"sizeKeyThickness":"10","styleRounded":true,"styleGlow":false,"className":"","x":3160,"y":520,"wires":[]},{"id":"87aa299874233883","type":"change","z":"edabe7708d2a664c","g":"5545d38980979783","name":"Celcius to Fahrenheit","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload*1.8)+32","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$formatNumber(payload, '0.00')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3035,"y":520,"wires":[["75e31f3b7fbeb688"]],"l":false},{"id":"e46b50cfdafd547e","type":"ui-chart","z":"edabe7708d2a664c","g":"5545d38980979783","group":"9d2cef96a932d698","name":"History (°F) ","label":"","order":2,"chartType":"line","category":"topic","categoryType":"msg","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"TemperatureF","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":4,"showLegend":false,"removeOlder":"30","removeOlderUnit":"60","removeOlderPoints":"50","colors":["#ff7b00","#028a00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"6","className":"historyGraph","x":3170,"y":640,"wires":[[]]},{"id":"6a644f8209f99413","type":"change","z":"edabe7708d2a664c","g":"5545d38980979783","name":"Celcius to Fahrenheit","rules":[{"t":"set","p":"payload.TemperatureF","pt":"msg","to":"(payload.temperature*1.8)+32","tot":"jsonata"},{"t":"set","p":"payload.TemperatureF","pt":"msg","to":"$formatNumber(payload.TemperatureF, '0.00')","tot":"jsonata"},{"t":"set","p":"payload.TemperatureF","pt":"msg","to":"$number(payload.TemperatureF)","tot":"jsonata"},{"t":"delete","p":"payload.temperature","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3035,"y":640,"wires":[["e46b50cfdafd547e"]],"l":false},{"id":"8f3d42699084d4ce","type":"link in","z":"edabe7708d2a664c","g":"5545d38980979783","name":"charHumIn","links":["92df7624dec1f66b","cf03be5552afe7d1"],"x":2965,"y":800,"wires":[["268c25229c4875bf"]]},{"id":"06dd0f39e0122974","type":"link in","z":"edabe7708d2a664c","g":"5545d38980979783","name":"charGasIn","links":["92df7624dec1f66b","9604d72722f01ce2"],"x":2965,"y":880,"wires":[["4d771fddd9078201"]]},{"id":"9dfe2fe0bea1a373","type":"link in","z":"edabe7708d2a664c","g":"5545d38980979783","name":"charPressIn","links":["92df7624dec1f66b","562a6f5a945d3a2a"],"x":2965,"y":720,"wires":[["8f4f8fbe12fa1122"]]},{"id":"e053ac1e4c0ec97e","type":"link in","z":"edabe7708d2a664c","g":"5545d38980979783","name":"charTempIn","links":["92df7624dec1f66b","5c9250eafdbd67a4"],"x":2965,"y":620,"wires":[["6a644f8209f99413","fc6d7682ee658152"]]},{"id":"ac0670d187b53dc3","type":"change","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"getTemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.temperature","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$formatNumber(payload, '0.00')","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2720,"y":440,"wires":[["f23408d8e0263d9f"]]},{"id":"2b7ce5297abe0e29","type":"link in","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"tempIn","links":["0a1f12c4acb85b5f"],"x":2625,"y":440,"wires":[["ac0670d187b53dc3"]]},{"id":"85707ad549a810aa","type":"change","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"getPressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.pressure","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$formatNumber(payload, '0.00')","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2730,"y":740,"wires":[["914ee9ce2e55ac1f"]]},{"id":"14c1dce187de5718","type":"link in","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"pressIn","links":["0a1f12c4acb85b5f"],"x":2625,"y":740,"wires":[["85707ad549a810aa"]]},{"id":"2a145eab36f7f394","type":"change","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"getHumidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.humidity","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$formatNumber(payload, '0.00')","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2730,"y":860,"wires":[["684e98c4ec39c837"]]},{"id":"9e72092ceef27fa7","type":"link in","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"humIn","links":["0a1f12c4acb85b5f"],"x":2625,"y":860,"wires":[["2a145eab36f7f394"]]},{"id":"d5e415c414044936","type":"change","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"getGas","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.gas_resistance","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$formatNumber(payload, '0')","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2720,"y":980,"wires":[["5d93344d33fc2825"]]},{"id":"2579aad3f5314432","type":"link in","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"gasIn","links":["0a1f12c4acb85b5f"],"x":2625,"y":980,"wires":[["d5e415c414044936"]]},{"id":"8892a81fa025601d","type":"change","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"getIAQ","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.iaq","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$formatNumber(payload, '0.00')","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2720,"y":1100,"wires":[["6188637f0a5d8a8d"]]},{"id":"a8f1aac0e75ada54","type":"link in","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"iaqIn","links":["0a1f12c4acb85b5f"],"x":2625,"y":1100,"wires":[["8892a81fa025601d"]]},{"id":"f23408d8e0263d9f","type":"link out","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"tempout","mode":"link","links":["f0bf3539a918c488"],"x":2835,"y":440,"wires":[]},{"id":"914ee9ce2e55ac1f","type":"link out","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"pressout","mode":"link","links":["82c58ea770f52f0b"],"x":2835,"y":740,"wires":[]},{"id":"684e98c4ec39c837","type":"link out","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"humout","mode":"link","links":["ab0185a1cf73ad62"],"x":2835,"y":860,"wires":[]},{"id":"5d93344d33fc2825","type":"link out","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"gasout","mode":"link","links":["4eca56ab560de4c4"],"x":2835,"y":980,"wires":[]},{"id":"6188637f0a5d8a8d","type":"link out","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"iaqout","mode":"link","links":["f70b8ad7d285e982"],"x":2835,"y":1100,"wires":[]},{"id":"2caac093d09d9f83","type":"change","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"getBattPerc","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$formatNumber(payload, '0.00')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2730,"y":620,"wires":[["dffa5a696d7a2464"]]},{"id":"e8e01dae43b2699b","type":"link in","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"tempIn","links":["0a1f12c4acb85b5f"],"x":2625,"y":620,"wires":[["2caac093d09d9f83"]]},{"id":"dffa5a696d7a2464","type":"link out","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"battPercout","mode":"link","links":["8d361e83571083c4"],"x":2835,"y":620,"wires":[]},{"id":"3c5bca30d6a0e0df","type":"change","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"getBattNum","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.temperature","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$formatNumber(payload, '0.00')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2730,"y":560,"wires":[["6c5858801d4c2d8b"]]},{"id":"8241f7d0f3ae478d","type":"link in","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"tempIn","links":["0a1f12c4acb85b5f"],"x":2625,"y":560,"wires":[["3c5bca30d6a0e0df"]]},{"id":"6c5858801d4c2d8b","type":"link out","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"battNumout","mode":"link","links":[],"x":2835,"y":560,"wires":[]},{"id":"7522c388fc6a6f9d","type":"link in","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"tempIn","links":["0a1f12c4acb85b5f"],"x":2625,"y":500,"wires":[["b5cb374663256f7f"]]},{"id":"5c9250eafdbd67a4","type":"link out","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"tempout","mode":"link","links":["e053ac1e4c0ec97e"],"x":2835,"y":500,"wires":[]},{"id":"b5cb374663256f7f","type":"function","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"function 27","func":"let Timestamp = msg.data.received;\nlet data = msg.data.sensor_data.temperature;\nmsg = {};\nmsg.payload = {\n    \"Timestamp\" : Timestamp,\n    \"temperature\" : data\n}\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2730,"y":500,"wires":[["5c9250eafdbd67a4"]]},{"id":"268d04d921643788","type":"link in","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"tempIn","links":["0a1f12c4acb85b5f"],"x":2625,"y":800,"wires":[["e07c131dbb5d5cc7"]]},{"id":"562a6f5a945d3a2a","type":"link out","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"tempout","mode":"link","links":["9dfe2fe0bea1a373"],"x":2835,"y":800,"wires":[]},{"id":"e07c131dbb5d5cc7","type":"function","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"function 28","func":"let Timestamp = msg.data.received;\nlet data = msg.data.sensor_data.pressure;\nmsg = {};\nmsg.payload = {\n    \"Timestamp\" : Timestamp,\n    \"pressure\" : data\n}\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2730,"y":800,"wires":[["562a6f5a945d3a2a"]]},{"id":"94bc3043d305ad9a","type":"link in","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"tempIn","links":["0a1f12c4acb85b5f"],"x":2625,"y":920,"wires":[["57310503ccb14428"]]},{"id":"cf03be5552afe7d1","type":"link out","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"tempout","mode":"link","links":["8f3d42699084d4ce"],"x":2835,"y":920,"wires":[]},{"id":"57310503ccb14428","type":"function","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"function 29","func":"let Timestamp = msg.data.received;\nlet data = msg.data.sensor_data.humidity;\nmsg = {};\nmsg.payload = {\n    \"Timestamp\" : Timestamp,\n    \"humidity\" : data\n}\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2730,"y":920,"wires":[["cf03be5552afe7d1"]]},{"id":"d9cc779953431dbc","type":"link in","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"tempIn","links":["0a1f12c4acb85b5f"],"x":2625,"y":1040,"wires":[["e7c7727f91517170"]]},{"id":"9604d72722f01ce2","type":"link out","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"tempout","mode":"link","links":["06dd0f39e0122974"],"x":2835,"y":1040,"wires":[]},{"id":"e7c7727f91517170","type":"function","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"function 30","func":"let Timestamp = msg.data.received;\nlet data = msg.data.sensor_data.gas_resistance;\nmsg = {};\nmsg.payload = {\n    \"Timestamp\" : Timestamp,\n    \"gas_resistance\" : data\n}\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2730,"y":1040,"wires":[["9604d72722f01ce2"]]},{"id":"593614a94a0e458d","type":"ui-control","z":"edabe7708d2a664c","g":"399eeb0f40866f12","name":"","ui":"ec459411017ddf37","events":"all","x":3040,"y":260,"wires":[[]]},{"id":"4de90f2194ea67c2","type":"ui-event","z":"edabe7708d2a664c","g":"399eeb0f40866f12","ui":"ec459411017ddf37","name":"","x":2670,"y":280,"wires":[["d0215dddc5405f4f"]]},{"id":"d0215dddc5405f4f","type":"function","z":"edabe7708d2a664c","g":"399eeb0f40866f12","name":"getTemUnit","func":"let unit = flow.get(\"tempUnit\") || 0;\n\nif(!unit){\n    unit = \n    {\n        groups: \n        { \n            show: [\"ncd-environment:Temperature °C\"],\n            hide: [\"ncd-environment:Temperature °F\",\n                   \"ncd-environment:Inspect1\",\n                   \"Senncd-environmentsor:Inspect2\",\n                   \"ncd-environment:Inspect3\"]\n        } \n    }\n}\n\nmsg.payload = unit;\nflow.set(\"tempUnit\", unit);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2870,"y":280,"wires":[["593614a94a0e458d"]]},{"id":"b3f8c415d9f08957","type":"change","z":"edabe7708d2a664c","g":"399eeb0f40866f12","name":"setTempUnitUser","rules":[{"t":"set","p":"tempUnit","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"unitSelected","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2850,"y":320,"wires":[["593614a94a0e458d"]]},{"id":"4514dac4aed76fe4","type":"ui-dropdown","z":"edabe7708d2a664c","g":"399eeb0f40866f12","group":"0f0dada195e9410e","name":"","label":"Unit:","tooltip":"","order":1,"width":"0","height":"0","passthru":false,"multiple":false,"options":[{"label":"°C","value":"{\"groups\":{\"show\":[\"ncd-environment:Temperature °C\"],\"hide\":[\"ncd-environment:Temperature °F\",\"ncd-environment:Inspect1\",\"ncd-environment:Inspect2\",\"ncd-environment:Inspect3\"]}}","type":"str"},{"label":"°F","value":"{\"groups\":{\"show\":[\"ncd-environment:Temperature °F\"],\"hide\":[\"ncd-environment:Temperature °C\",\"ncd-environment:Inspect1\",\"ncd-environment:Inspect2\",\"ncd-environment:Inspect3\"]}}","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":2630,"y":320,"wires":[["37c056b1c6ed909a"]]},{"id":"37c056b1c6ed909a","type":"json","z":"edabe7708d2a664c","g":"399eeb0f40866f12","name":"","property":"payload","action":"","pretty":false,"x":2725,"y":320,"wires":[["b3f8c415d9f08957"]],"l":false},{"id":"861170fb33608a41","type":"ui-text","z":"edabe7708d2a664c","g":"5545d38980979783","group":"46158a7c29ee5223","order":1,"width":"2","height":"1","name":"class: nodeId","label":"NodeID:  ","format":"{{msg.payload}}","layout":"row-center","style":true,"font":"","fontSize":16,"color":"#000000","className":"","x":3170,"y":440,"wires":[]},{"id":"eb617db5caeeed2a","type":"change","z":"edabe7708d2a664c","g":"5545d38980979783","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3025,"y":480,"wires":[["919bbcecec2da1a2"]],"l":false},{"id":"919bbcecec2da1a2","type":"ui-text","z":"edabe7708d2a664c","g":"5545d38980979783","group":"46158a7c29ee5223","order":2,"width":"2","height":"1","name":"class: nodeId","label":"Type of sensor:   ","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":16,"color":"#000000","className":"","x":3170,"y":480,"wires":[]},{"id":"baa3ad7f747cb31d","type":"change","z":"edabe7708d2a664c","g":"5545d38980979783","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.nodeId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3025,"y":440,"wires":[["861170fb33608a41"]],"l":false},{"id":"daa8ed528f78f3fb","type":"ui-chart","z":"edabe7708d2a664c","g":"5545d38980979783","group":"d35a301d5e4b1f74","name":"History (%)","label":"","order":3,"chartType":"line","category":"topic","categoryType":"msg","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"battery_percent","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":false,"removeOlder":"30","removeOlderUnit":"60","removeOlderPoints":"50","colors":["#01839d","#009996","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"6","className":"historyGraph","x":3170,"y":960,"wires":[[]]},{"id":"da8339ab0fa76a0a","type":"ui-chart","z":"edabe7708d2a664c","g":"5545d38980979783","group":"f14307612747dae2","name":"History (IAQ)","label":"","order":2,"chartType":"line","category":"topic","categoryType":"msg","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"iaq","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":4,"showLegend":false,"removeOlder":"30","removeOlderUnit":"60","removeOlderPoints":"50","colors":["#01839d","#009996","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"6","className":"historyGraph","x":3170,"y":1040,"wires":[[]]},{"id":"519d9d5b53170b0d","type":"link in","z":"edabe7708d2a664c","g":"5545d38980979783","name":"charIaqIn","links":["0dd1a5f204dd171e","92df7624dec1f66b"],"x":2965,"y":1040,"wires":[["da8339ab0fa76a0a"]]},{"id":"9cd1f055d9b3c490","type":"link in","z":"edabe7708d2a664c","g":"5545d38980979783","name":"link in 7","links":["b90996a0a123557a","856f7927e1e78e3e"],"x":2965,"y":960,"wires":[["daa8ed528f78f3fb"]]},{"id":"d3eb84eb659a368c","type":"inject","z":"edabe7708d2a664c","g":"399eeb0f40866f12","name":"refresh page","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"str","x":2925,"y":200,"wires":[["593614a94a0e458d"]],"l":false},{"id":"fbdcd7d6ce406db2","type":"link in","z":"edabe7708d2a664c","g":"5545d38980979783","name":"link in 10","links":["0a1f12c4acb85b5f"],"x":2965,"y":460,"wires":[["baa3ad7f747cb31d","eb617db5caeeed2a"]]},{"id":"0a1f12c4acb85b5f","type":"link out","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"sensorRAWout","mode":"link","links":["2579aad3f5314432","2b7ce5297abe0e29","8241f7d0f3ae478d","0dd9a05baa4a3ae4","14c1dce187de5718","e8e01dae43b2699b","a885ef1147867c82","047353f40d74e74a","a8f1aac0e75ada54","9e72092ceef27fa7","7522c388fc6a6f9d","268d04d921643788","94bc3043d305ad9a","d9cc779953431dbc","fbdcd7d6ce406db2","d8cbd25f81e28193","58634e04258db7a6","3b4401e25a3c3f39","b8472e4b80951f1e","8dced0db32ec6371"],"x":2375,"y":700,"wires":[]},{"id":"92df7624dec1f66b","type":"link out","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"toGraphs","mode":"link","links":["e053ac1e4c0ec97e","519d9d5b53170b0d","9dfe2fe0bea1a373","8f3d42699084d4ce","06dd0f39e0122974"],"x":2375,"y":800,"wires":[]},{"id":"856f7927e1e78e3e","type":"link out","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"link out 55","mode":"link","links":["9cd1f055d9b3c490"],"x":2385,"y":1020,"wires":[]},{"id":"b38c653caa590c02","type":"change","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"getBattery","rules":[{"t":"set","p":"payload.battery_percent","pt":"msg","to":"payload.col4","tot":"msg"},{"t":"set","p":"payload.Timestamp","pt":"msg","to":"payload.col11","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2070,"y":840,"wires":[["856f7927e1e78e3e"]]},{"id":"9fabf874cbba65c8","type":"file in","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"path","filename":"filename","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1705,"y":840,"wires":[["40d8fbdb38f11c8b"]],"l":false},{"id":"40d8fbdb38f11c8b","type":"csv","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1755,"y":840,"wires":[["e06512402183ba91"]],"l":false},{"id":"27c5ad1332131ca2","type":"change","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"Filter Data to save csv","rules":[{"t":"set","p":"payload","pt":"msg","to":"data","tot":"msg","dc":true},{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"},{"t":"delete","p":"payload.original","pt":"msg"},{"t":"delete","p":"payload.modem_mac","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":680,"wires":[["5e96ad4ef712204c"]]},{"id":"62ec095656804e6d","type":"csv","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\n","temp":"nodeId,firmware,battery,battery_percent,counter,sensor_type,sensor_data,sensor_name,type,addr,received","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":1435,"y":700,"wires":[["962ef80d22f5bd20"]],"l":false},{"id":"962ef80d22f5bd20","type":"file","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"","filename":"filename","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1485,"y":700,"wires":[["4e31a4dbb951936a","15380ccbf04e60ec"]],"l":false},{"id":"4e31a4dbb951936a","type":"function","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"getAndSetMAC","func":"var newMAC = msg.data.addr;\nvar count = flow.get(\"countMAC\") || 0;\n\nfor (let index = 0; index < count; index++) {\n    let oldMAC = flow.get(\"MAC[\"+index+\"]\")[0]; // Acces to element 0 of array (MAC)\n    if(oldMAC == newMAC)\n    {\n        return msg;\n    }\n}\n// if new MAC is arrive\nflow.set(\"MAC[\"+count+\"]\", [newMAC, msg.data.sensor_type]); // Save array [MAC, TYPE]\ncount++;\nflow.set(\"countMAC\", count);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":700,"wires":[["8c5ecc43d81a5647"]]},{"id":"cf31104f828af82c","type":"ui-dropdown","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","group":"0f0dada195e9410e","name":"","label":"Select MAC Device to Show Data:","tooltip":"","order":2,"width":"0","height":"0","passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":480,"y":840,"wires":[["38c34e274b59540d","093e946cbd33d7d8"]]},{"id":"8c5ecc43d81a5647","type":"function","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"getMACOptions","func":"let count = flow.get(\"countMAC\");\nlet options = [];\nfor (let index = 0; index < count; index++) {\n    options[index] = flow.get(\"MAC[\"+index+\"]\")[0];\n}\nmsg.options = options;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1820,"y":700,"wires":[["c9cedf7cbb0a8161","54bb58175cede63a"]]},{"id":"18d150bcb2181d57","type":"change","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":920,"wires":[["6ac95f98abcc8c2d"]]},{"id":"c9cedf7cbb0a8161","type":"switch","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"userMACSelection?","property":"data.addr","propertyType":"msg","rules":[{"t":"eq","v":"macSelection","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":2180,"y":700,"wires":[["0a1f12c4acb85b5f"]]},{"id":"fd46970994c0c655","type":"change","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"getData","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"payload.col7","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2060,"y":800,"wires":[["677710e2d40b030b"]]},{"id":"677710e2d40b030b","type":"json","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"json object","property":"payload.data","action":"","pretty":false,"x":2165,"y":800,"wires":[["3ffa10008a202e4e"]],"l":false},{"id":"3ffa10008a202e4e","type":"function","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"getData","func":"let data = msg.payload.data;\nlet Timestamp = msg.payload.col11;\nmsg = {};\nmsg.payload = data;\nmsg.payload.Timestamp = Timestamp;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2260,"y":800,"wires":[["92df7624dec1f66b"]]},{"id":"883f5086dfabaaec","type":"change","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"Clear char","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1020,"wires":[["627cd812d3391a60"]]},{"id":"5e96ad4ef712204c","type":"switch","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"else"},{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1050,"y":680,"wires":[["326b745a38f7c13e"],["5e5a79c1c71d515e"],["520abd0e0f05c143"]]},{"id":"5e5a79c1c71d515e","type":"function","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"Linux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":680,"wires":[["3f20a661c42869fa"]]},{"id":"520abd0e0f05c143","type":"function","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"windows","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":720,"wires":[["3f20a661c42869fa"]]},{"id":"6ac95f98abcc8c2d","type":"switch","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":920,"wires":[["e5ba983e8c4c0e88"],["4592a4c15fb2e4bd"]]},{"id":"e5ba983e8c4c0e88","type":"function","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"Linux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":900,"wires":[["8147a273e5b291ac"]]},{"id":"4592a4c15fb2e4bd","type":"function","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"windows","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":940,"wires":[["8147a273e5b291ac"]]},{"id":"8df3e6fe990a582c","type":"catch","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"","scope":["9fabf874cbba65c8","962ef80d22f5bd20"],"uncaught":false,"x":1615,"y":580,"wires":[["a74c0b152adc7273"]],"l":false},{"id":"a74c0b152adc7273","type":"function","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"function 23","func":"msg.payload = ({fill: \"red\",text:\"Path error\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1665,"y":600,"wires":[["0915def395be14f5"]],"l":false},{"id":"c836fc0c8f542609","type":"function","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"function 24","func":"msg.payload = ({fill: \"green\",text:\"Saving data\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1615,"y":660,"wires":[["d819f041c878bb48"]],"l":false},{"id":"326b745a38f7c13e","type":"link out","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"errors","mode":"link","links":["26cf13f162d5b20a"],"x":1175,"y":640,"wires":[]},{"id":"26cf13f162d5b20a","type":"link in","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"Errors","links":["326b745a38f7c13e"],"x":1615,"y":620,"wires":[["a74c0b152adc7273"]]},{"id":"d50bf1f6726bb371","type":"switch","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":610,"y":620,"wires":[["17aee79d2796f0fd"],["27c5ad1332131ca2"]]},{"id":"865f0e87aa09ed17","type":"change","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":520,"wires":[["cf50786ae6079c13"]]},{"id":"c03d9f2f3c5bbd57","type":"change","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":560,"wires":[["ce8d71eecbd501e8"]]},{"id":"ce8d71eecbd501e8","type":"switch","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"Win","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":560,"wires":[["ef52e24230d9d801"]]},{"id":"cf50786ae6079c13","type":"switch","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"Lin","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":520,"wires":[["98f9a94c02b5c1cb"]]},{"id":"b1474b5ea82287ae","type":"change","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"","rules":[{"t":"set","p":"userPath","pt":"msg","to":"Path","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":620,"wires":[["d50bf1f6726bb371"]]},{"id":"98f9a94c02b5c1cb","type":"change","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"Filter Data to save csv","rules":[{"t":"set","p":"payload","pt":"msg","to":"data","tot":"msg","dc":true},{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"},{"t":"delete","p":"payload.original","pt":"msg"},{"t":"delete","p":"payload.modem_mac","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":520,"wires":[["c3fe8b9198869316"]]},{"id":"2cad4e5a935fa5bf","type":"function","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"buld local path","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":560,"wires":[["128eefc19c079df1"]]},{"id":"c3fe8b9198869316","type":"function","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"buld local path","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":520,"wires":[["128eefc19c079df1"]]},{"id":"ef52e24230d9d801","type":"change","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"Filter Data to save csv","rules":[{"t":"set","p":"payload","pt":"msg","to":"data","tot":"msg","dc":true},{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"},{"t":"delete","p":"payload.original","pt":"msg"},{"t":"delete","p":"payload.modem_mac","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":560,"wires":[["2cad4e5a935fa5bf"]]},{"id":"1990d8fbf4baacdd","type":"switch","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":910,"y":840,"wires":[["2683a79afa09d5f2","af62fb1133f87a5b"],["18d150bcb2181d57"]]},{"id":"38c34e274b59540d","type":"change","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"","rules":[{"t":"set","p":"userPath","pt":"msg","to":"Path","tot":"env"},{"t":"set","p":"macSelection","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":840,"wires":[["1990d8fbf4baacdd"]]},{"id":"af62fb1133f87a5b","type":"change","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":780,"wires":[["500870ec5a6a8285"]]},{"id":"2683a79afa09d5f2","type":"change","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":840,"wires":[["4d87dec3e975086e"]]},{"id":"4d87dec3e975086e","type":"switch","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":840,"wires":[["7031c8ca26c78a73"]]},{"id":"500870ec5a6a8285","type":"switch","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":780,"wires":[["bb49bd327a2b2cd0"]]},{"id":"bdde836b66f98f20","type":"function","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"function 34","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1570,"y":840,"wires":[["9fabf874cbba65c8"]]},{"id":"edae2f853b976101","type":"function","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"function 35","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1570,"y":780,"wires":[["9fabf874cbba65c8"]]},{"id":"e3fb2d253481689e","type":"ui-template","z":"edabe7708d2a664c","g":"d55341dc558cba31","group":"","page":"5c15b1e2f3197787","ui":"","name":"Style","order":0,"width":0,"height":0,"head":"","format":".v-main {\n    background-image: url(\"https://www.transparenttextures.com/patterns/cubes.png\");\n    background-repeat: repeat;\n    --v-layout-top: 0px !important;\n    --v-layout-left: 181px !important;\n    border-radius: 15px !important;\n}\n.bg-group-background{\n    background-color: rgb(117 190 218 / 50%) !important;\n    border-color: #D6DBD0 !important;\n}\n.nrdb-ui-group .v-card {\n    border-radius: 15px;\n}\n.v-toolbar{\n    left: 12px !important;\n    top: 119px !important;\n    width: 68px !important;\n    height: 62px !important;\n    border-radius: 15px;\n    background-color: rgb(117 190 218 / 50%) !important;\n}\n.v-navigation-drawer--left{\n    top: 186px !important;\n    height: 160px !important;\n    border-radius: 15px;\n    left: 12px !important;\n    width: 167px !important;\n    background-color: rgb(117 190 218 / 50%) !important;\n}\n.grupoInfo{\n    height: 100px !important;\n    top: 400px !important; \n    position: absolute;\n    left: 13px !important;\n    width: 165px !important;\n}\n/* Largo de grupos individual*/\n.grupoInfo .v-card{\n    height: 190px;\n}\n.nodeId .nrdb-ui-text{\n    height: 25px !important;\n}\n.historyGraph{\n    top: -35px !important;\n    position: relative !important;\n}\n.grupoSelectMac{\n    top: 614px !important;\n    width: 165px !important;\n    left: 13px !important;\n    position: absolute !important;\n}\n/* Largo de grupos individual*/\n.grupoSelectMac .v-card{\n    height: 155px;\n}\n.grupoDownload{\n    height: 100px !important;\n    top: 782px;\n    position: absolute;\n    left: 13px;\n    width: 165px !important;\n}\n/* Largo de grupos individual*/\n.grupoDownload .v-card{\n    height: 155px;\n}\n.grupos .v-card{\n    height: 321px;\n}\n.datePicker{\n    left: -12px;\n    width: 155px;\n    position: relative;\n}\n.objectButton{\n    position: absolute;\n    top: 120px !important;\n    width: 135px !important;\n}\n/*Color fondo boton*/\n.objectButton .v-btn{\n    background-color: #589FE2;\n}\n/*Largo grupos inspect*/\n.dataGroupE .v-card{\nheight: 978px !important;\n}","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"page:style","className":"","x":3510,"y":320,"wires":[[]]},{"id":"a86756ea0613b0ae","type":"ui-template","z":"edabe7708d2a664c","g":"d55341dc558cba31","group":"","page":"5c15b1e2f3197787","ui":"","name":"Logo","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <a href=\"https://ncd.io/\" target=\"_blank\">\n    <div class=\"logo2\">\n        <v-chip label size=\"x-large\" :width=\"144\" color=\"black\" text=\"ncd.io\"></v-chip>\n    </div>\n    </a>\n</template>\n<style>\n.logo2 {\n    transform: rotate(0deg);\n    width: 130px;\n    position: fixed;\n    top: 13px;\n    left: 12px;\n}\n.v-chip.v-chip--size-x-large {\n    --v-chip-height: 89px;\n    font-size: 2.125rem;\n    font-family: system-ui;\n}\n.v-chip--variant-tonal .v-chip__underlay {\n    border-radius: 15px !important;\n}\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":3390,"y":320,"wires":[[]]},{"id":"72a70c77c0dfb08c","type":"ui-template","z":"edabe7708d2a664c","g":"d55341dc558cba31","group":"","page":"5c15b1e2f3197787","ui":"","name":"product info","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <a href=\"https://store.ncd.io/product/industrial-iot-long-range-wireless-environmental-temperature-humidity-pressure-air-quality-sensor/\" target=\"_blank\">\n        <v-btn class=\"info\" color=\"white\" density=\"default\" append-icon=\"mdi-open-in-new\"> Product info </v-btn>\n    </a>\n</template>\n<style>\n.info{\n    top: -49px !important;\n    left: -160px;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":3250,"y":320,"wires":[[]]},{"id":"bb49bd327a2b2cd0","type":"change","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":780,"wires":[["edae2f853b976101"]]},{"id":"d8cbd25f81e28193","type":"link in","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"tempIn","links":["0a1f12c4acb85b5f"],"x":2625,"y":680,"wires":[["dcdf49030ff07f16"]]},{"id":"b90996a0a123557a","type":"link out","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"battout","mode":"link","links":["9cd1f055d9b3c490"],"x":2835,"y":680,"wires":[]},{"id":"dcdf49030ff07f16","type":"function","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"function 36","func":"let Timestamp = msg.data.received;\nlet data = msg.data.battery_percent;\nmsg = {};\nmsg.payload = {\n    \"Timestamp\" : Timestamp,\n    \"battery_percent\" : data\n}\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2730,"y":680,"wires":[["b90996a0a123557a"]]},{"id":"58634e04258db7a6","type":"link in","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"tempIn","links":["0a1f12c4acb85b5f"],"x":2625,"y":1160,"wires":[["8cd8d7aaa783b092"]]},{"id":"0dd1a5f204dd171e","type":"link out","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"iaqout","mode":"link","links":["519d9d5b53170b0d"],"x":2835,"y":1160,"wires":[]},{"id":"8cd8d7aaa783b092","type":"function","z":"edabe7708d2a664c","g":"a0d9e325290a6673","name":"function 37","func":"let Timestamp = msg.data.received;\nlet data = msg.data.sensor_data.iaq;\nmsg = {};\nmsg.payload = {\n    \"Timestamp\" : Timestamp,\n    \"iaq\" : data\n}\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2730,"y":1160,"wires":[["0dd1a5f204dd171e"]]},{"id":"7031c8ca26c78a73","type":"change","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":840,"wires":[["bdde836b66f98f20"]]},{"id":"54bb58175cede63a","type":"link out","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"link out 56","mode":"link","links":["efb841289782f0f3"],"x":2035,"y":740,"wires":[]},{"id":"efb841289782f0f3","type":"link in","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"link in 11","links":["54bb58175cede63a"],"x":305,"y":840,"wires":[["cf31104f828af82c"]]},{"id":"e06512402183ba91","type":"function","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"last(n)Items","func":"const x = msg.payload.slice(-20);\n\nfor (let index = 0; index < 20; index++) {\n    msg.payload = x[index];\n    node.send(msg) \n}\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1870,"y":840,"wires":[["fd46970994c0c655","b38c653caa590c02"]]},{"id":"1e24a5261a46a122","type":"function","z":"edabe7708d2a664c","g":"09e25c4fa9c62133","name":"Set base path","func":"var basePath = msg.path;\nvar device = msg.device;\nvar filename = msg.date;\nmsg.filename = basePath + device + filename + \".csv\";\nreturn msg;\n\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2060,"y":1160,"wires":[["7ac9793b0fd971cf"]]},{"id":"49f9cb892f6e56c3","type":"http response","z":"edabe7708d2a664c","g":"09e25c4fa9c62133","name":"","statusCode":"","headers":{},"x":2350,"y":1160,"wires":[]},{"id":"7ac9793b0fd971cf","type":"file in","z":"edabe7708d2a664c","g":"09e25c4fa9c62133","name":"","filename":"filename","filenameType":"msg","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":2220,"y":1160,"wires":[["49f9cb892f6e56c3"]]},{"id":"3cd318e2bcd1c2e9","type":"catch","z":"edabe7708d2a664c","g":"09e25c4fa9c62133","name":"","scope":["7ac9793b0fd971cf"],"uncaught":false,"x":1910,"y":1220,"wires":[["95c9522049318d8d","43671ac9cf270950"]]},{"id":"52da0e304472dd5e","type":"http in","z":"edabe7708d2a664c","g":"09e25c4fa9c62133","name":"","url":"/log/:fn","method":"get","upload":false,"swaggerDoc":"","x":1430,"y":1160,"wires":[["4626f822135a90c8","ddeb6e54c910230b"]]},{"id":"76b2b790949b4457","type":"change","z":"edabe7708d2a664c","g":"09e25c4fa9c62133","name":"","rules":[{"t":"set","p":"date","pt":"msg","to":"dateDownloadFile","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1890,"y":1160,"wires":[["1e24a5261a46a122"]]},{"id":"4626f822135a90c8","type":"change","z":"edabe7708d2a664c","g":"09e25c4fa9c62133","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1555,"y":1140,"wires":[["623ac19872325264"]],"l":false},{"id":"ddeb6e54c910230b","type":"change","z":"edabe7708d2a664c","g":"09e25c4fa9c62133","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1555,"y":1180,"wires":[["00957104656341e4"]],"l":false},{"id":"623ac19872325264","type":"switch","z":"edabe7708d2a664c","g":"09e25c4fa9c62133","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1605,"y":1140,"wires":[["2421dc8416c9d443"]],"l":false},{"id":"00957104656341e4","type":"switch","z":"edabe7708d2a664c","g":"09e25c4fa9c62133","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1605,"y":1180,"wires":[["2e946e17e113b6c4"]],"l":false},{"id":"2421dc8416c9d443","type":"change","z":"edabe7708d2a664c","g":"09e25c4fa9c62133","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"/.node-red/log/\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"macSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$substring(device, 12)","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"/\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1720,"y":1140,"wires":[["76b2b790949b4457"]]},{"id":"297f8f15b5c05078","type":"ui-notification","z":"edabe7708d2a664c","g":"09e25c4fa9c62133","ui":"ec459411017ddf37","position":"center center","colorDefault":true,"color":"#000000","displayTime":"15","showCountdown":true,"outputs":0,"allowDismiss":true,"dismissText":"Close","raw":false,"className":"","name":"","x":2310,"y":1200,"wires":[]},{"id":"95c9522049318d8d","type":"function","z":"edabe7708d2a664c","g":"09e25c4fa9c62133","name":"error message","func":"var error = \"Error: no such file or directory, open 'logger.csv'\";\nmsg = {};\nmsg.payload = error;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2060,"y":1200,"wires":[["fea744703720cf6d"]]},{"id":"fea744703720cf6d","type":"trigger","z":"edabe7708d2a664c","g":"09e25c4fa9c62133","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"500","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2175,"y":1200,"wires":[["297f8f15b5c05078"]],"l":false},{"id":"2e946e17e113b6c4","type":"change","z":"edabe7708d2a664c","g":"09e25c4fa9c62133","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"\\\\.node-red\\\\log\\\\\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"macSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$substring(device,12)","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"\\\\\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1720,"y":1180,"wires":[["76b2b790949b4457"]]},{"id":"43671ac9cf270950","type":"http response","z":"edabe7708d2a664c","g":"09e25c4fa9c62133","name":"Redirecting","statusCode":"302","headers":{"location":"/dashboard/page1"},"x":2070,"y":1240,"wires":[]},{"id":"116fb6f6a21770e9","type":"ui-text-input","z":"edabe7708d2a664c","g":"e9cc381d5c3cb697","group":"ec3b4ec0e5b211c2","name":"","label":"Date:","order":1,"width":"0","height":"0","topic":"topic","topicType":"msg","mode":"date","delay":300,"passthru":false,"sendOnDelay":false,"sendOnBlur":true,"sendOnEnter":true,"className":"datePicker","x":2970,"y":1140,"wires":[["1f187f9c0d35d05d"]]},{"id":"e1540544d8fc93e6","type":"ui-template","z":"edabe7708d2a664c","g":"e9cc381d5c3cb697","group":"ec3b4ec0e5b211c2","page":"","ui":"","name":"Download","order":2,"width":"3","height":"1","head":"","format":"<template>  \n    <a href=\"/log/logger.csv\">\n        <v-btn class=\"buttonDownload\" color=\"#589FE2\">Download CSV</v-btn>\n    </a>\n</template>\n<style>\n.buttonDownload {\n    top:12px !important;\n    width: 127px !important;\n}\n</style>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":2980,"y":1180,"wires":[[]]},{"id":"1f187f9c0d35d05d","type":"change","z":"edabe7708d2a664c","g":"e9cc381d5c3cb697","name":"","rules":[{"t":"set","p":"dateDownloadFile","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3150,"y":1140,"wires":[[]]},{"id":"72fe3f20b2a6bb61","type":"catch","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","name":"","scope":["677710e2d40b030b"],"uncaught":false,"x":2190,"y":540,"wires":[[]]},{"id":"17967e930b37608c","type":"ui-gauge","z":"edabe7708d2a664c","g":"5545d38980979783","name":"","group":"d35a301d5e4b1f74","order":1,"width":"2","height":"5","gtype":"gauge-34","gstyle":"rounded","title":"Battery","units":"%","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#f50000"},{"from":"50","color":"#fbff00"},{"from":"70","color":"#30b300"}],"min":"0","max":"100","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":3180,"y":920,"wires":[]},{"id":"ad80122f0e02eb46","type":"ui-gauge","z":"edabe7708d2a664c","g":"5545d38980979783","name":"","group":"f14307612747dae2","order":1,"width":"2","height":"5","gtype":"gauge-34","gstyle":"rounded","title":"IAQ","units":"","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#0097f5"},{"from":"10","color":"#30b300"},{"from":"87","color":"#fbff00"},{"from":"90","color":"#ff0000"}],"min":"0","max":"100","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":3190,"y":1000,"wires":[]},{"id":"9cf72e51b8ecba2c","type":"ui-button","z":"edabe7708d2a664c","g":"c78f143967db981b","group":"46158a7c29ee5223","name":"","label":"Inspect","order":2,"width":0,"height":0,"tooltip":"","color":"","bgcolor":"","className":"objectButton","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":3380,"y":460,"wires":[["0347d234fb30c2ce"]]},{"id":"27aaecfb22c6f4b8","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"f68f28553dee9a7e","order":2,"width":"0","height":"0","name":"Node ID","label":"Node ID","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3520,"y":600,"wires":[]},{"id":"5c028e3fa776f07f","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"f68f28553dee9a7e","order":3,"width":"0","height":"0","name":"Firmware version","label":"Firmware version:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3550,"y":640,"wires":[]},{"id":"a628d5b82f2110e5","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"f68f28553dee9a7e","order":4,"width":"0","height":"0","name":"Battery V","label":"Battery (V):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3520,"y":680,"wires":[]},{"id":"cc235f3aba8662e9","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"f68f28553dee9a7e","order":5,"width":"0","height":"0","name":"Battery Level","label":"Battery Level (%):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3530,"y":720,"wires":[]},{"id":"0821b96a82922be4","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"f68f28553dee9a7e","order":6,"width":"0","height":"0","name":"Counter","label":"Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3520,"y":760,"wires":[]},{"id":"bc1e6c6cf345980a","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"f68f28553dee9a7e","order":7,"width":"0","height":"0","name":"Sensor type","label":"Sensor Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3530,"y":800,"wires":[]},{"id":"a50902ea44ad132f","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"f68f28553dee9a7e","order":8,"width":"0","height":"0","name":"Sensor Name","label":"Sensor Name:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3540,"y":840,"wires":[]},{"id":"9b2fbdd11d021e7c","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"f68f28553dee9a7e","order":9,"width":"0","height":"0","name":"Type","label":"Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3510,"y":880,"wires":[]},{"id":"a1f2e3b89cca034f","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"f68f28553dee9a7e","order":10,"width":"0","height":"0","name":"Address","label":"Address","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3520,"y":920,"wires":[]},{"id":"984e6b45246cd0b9","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.nodeId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":600,"wires":[["27aaecfb22c6f4b8"]],"l":false},{"id":"3b4401e25a3c3f39","type":"link in","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"link in 4","links":["0a1f12c4acb85b5f"],"x":3335,"y":780,"wires":[["984e6b45246cd0b9","6bfda0e77d2e9850","4bc08597cca2e261","1530a061e2262ce8","1d2281e2d5846cbe","5e75caa399012980","33068eadcce8e0a4","6a5fbbdc9f0fc3fc","889e4f438c623329","f3f99ca906f2023f"]]},{"id":"6bfda0e77d2e9850","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.firmware","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":640,"wires":[["5c028e3fa776f07f"]],"l":false},{"id":"4bc08597cca2e261","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":680,"wires":[["a628d5b82f2110e5"]],"l":false},{"id":"1530a061e2262ce8","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":720,"wires":[["cc235f3aba8662e9"]],"l":false},{"id":"1d2281e2d5846cbe","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":760,"wires":[["0821b96a82922be4"]],"l":false},{"id":"5e75caa399012980","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":800,"wires":[["bc1e6c6cf345980a"]],"l":false},{"id":"33068eadcce8e0a4","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":840,"wires":[["a50902ea44ad132f"]],"l":false},{"id":"6a5fbbdc9f0fc3fc","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":880,"wires":[["9b2fbdd11d021e7c"]],"l":false},{"id":"889e4f438c623329","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.addr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":920,"wires":[["a1f2e3b89cca034f"]],"l":false},{"id":"e15bbadeeead0428","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"f68f28553dee9a7e","order":11,"width":"0","height":"0","name":"Receive","label":"Received:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3520,"y":960,"wires":[]},{"id":"f3f99ca906f2023f","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.received","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":960,"wires":[["e15bbadeeead0428"]],"l":false},{"id":"95c1b9cfbd290212","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"f68f28553dee9a7e","order":1,"width":"0","height":"0","name":"DATA","label":"DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":3510,"y":560,"wires":[]},{"id":"0347d234fb30c2ce","type":"function","z":"edabe7708d2a664c","g":"c78f143967db981b","name":"getTemUnit","func":"let toggle = context.get(\"toggle\") || 0;\nlet unit = {};\n\nif(!toggle) /* First time */\n{\n    unit = {\n        groups: \n        { \n            show: [\"ncd-environment:Inspect1\",\n                   \"ncd-environment:Inspect2\",\n                   \"ncd-environment:Inspect3\"],\n            hide: [\"ncd-environment:Temperature °F\", \n                \"ncd-environment:Temperature °C\",\n                \"ncd-environment:Pressure\",\n                \"ncd-environment:Humidity\",\n                \"ncd-environment:Gas Resistence\",\n                \"ncd-environment:Battery\",\n                \"ncd-environment:iaq\"]\n        } \n    }\n    toggle++;\n}\nelse /* Second time */\n{\n    unit = {\n        groups: \n        { \n            hide: [\"ncd-environment:Inspect1\",\n                   \"ncd-environment:Inspect2\",\n                   \"ncd-environment:Inspect3\"],\n            show: [\"ncd-environment:Temperature °C\",\n                   \"ncd-environment:Pressure\",\n                   \"ncd-environment:Humidity\",\n                   \"ncd-environment:Gas Resistence\",\n                   \"ncd-environment:Battery\",\n                   \"ncd-environment:iaq\"]\n        } \n    }\n    toggle = 0;\n}\ncontext.set(\"toggle\", toggle);\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3550,"y":460,"wires":[["7e5a61787077de09"]]},{"id":"999a460527a23c53","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"f68f28553dee9a7e","order":11,"width":"3","height":"6","name":"relleno","label":"","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3510,"y":1000,"wires":[]},{"id":"7e5a61787077de09","type":"link out","z":"edabe7708d2a664c","g":"c78f143967db981b","name":"link out 57","mode":"link","links":["6082d23e2ce1300c"],"x":3655,"y":460,"wires":[]},{"id":"6082d23e2ce1300c","type":"link in","z":"edabe7708d2a664c","g":"399eeb0f40866f12","name":"link in 19","links":["7e5a61787077de09"],"x":2925,"y":240,"wires":[["593614a94a0e458d"]]},{"id":"901f990eb1ccf0b8","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"b97d9fa1554d569a","order":1,"width":"0","height":"0","name":"ORIGINAL","label":"ORIGINAL","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":4310,"y":580,"wires":[]},{"id":"fbd2177365049506","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"b97d9fa1554d569a","order":2,"width":"0","height":"0","name":"MAC","label":"MAC:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":4290,"y":620,"wires":[]},{"id":"6c35022788ef2fa0","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4205,"y":620,"wires":[["fbd2177365049506"]],"l":false},{"id":"5363747d17e21eb8","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"b97d9fa1554d569a","order":3,"width":"0","height":"0","name":"RECEIVE OPTIONS","label":"RECEIVE OPTIONS","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":4340,"y":660,"wires":[]},{"id":"cdac8c44b88f224e","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"b97d9fa1554d569a","order":4,"width":"0","height":"0","name":"ack","label":"ack:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":4290,"y":700,"wires":[]},{"id":"2e8cfa5ccacb135c","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.ack","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4205,"y":700,"wires":[["cdac8c44b88f224e"]],"l":false},{"id":"1079a63519547fbb","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"b97d9fa1554d569a","order":5,"width":"0","height":"0","name":"broadcast","label":"broadcast:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":4300,"y":740,"wires":[]},{"id":"cb2aa8038e9ee2ae","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.broadcast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4205,"y":740,"wires":[["1079a63519547fbb"]],"l":false},{"id":"25fc4d5f70d96403","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"b97d9fa1554d569a","order":6,"width":"0","height":"0","name":"type","label":"type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":4290,"y":780,"wires":[]},{"id":"ac6f4c5bd7e51e2b","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4205,"y":780,"wires":[["25fc4d5f70d96403"]],"l":false},{"id":"f9477ed341aa1e11","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"b97d9fa1554d569a","order":7,"width":"0","height":"0","name":"modem mac","label":"modem mac:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":4310,"y":820,"wires":[]},{"id":"1e2f543e8f8dcaa9","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.modem_mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4205,"y":820,"wires":[["f9477ed341aa1e11"]],"l":false},{"id":"7f57013c123a0242","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"b97d9fa1554d569a","order":8,"width":"0","height":"0","name":"topic","label":"topic:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":4290,"y":860,"wires":[]},{"id":"c705361665cb10c7","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4205,"y":860,"wires":[["7f57013c123a0242"]],"l":false},{"id":"c936293bb7b16a50","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"b97d9fa1554d569a","order":9,"width":"0","height":"0","name":"time","label":"time:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":4290,"y":900,"wires":[]},{"id":"db894c3411a5bc54","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.received","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4205,"y":900,"wires":[["c936293bb7b16a50"]],"l":false},{"id":"92fe518d3149fbc6","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"b97d9fa1554d569a","order":11,"width":"0","height":"0","name":"last received message","label":"Last received message at:","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":4340,"y":1000,"wires":[]},{"id":"49beef8e2ac44dd2","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$moment().format('MMMM Do YYYY, h:mm:ss a')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4205,"y":1000,"wires":[["92fe518d3149fbc6"]],"l":false},{"id":"398f33f7b2051050","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"b97d9fa1554d569a","order":10,"width":"0","height":"0","name":"relleno","label":"","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Impact,Impact,Charcoal,sans-serif","fontSize":"20","color":"#000000","className":"","x":4290,"y":960,"wires":[]},{"id":"b8472e4b80951f1e","type":"link in","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"link in 17","links":["0a1f12c4acb85b5f"],"x":4095,"y":800,"wires":[["6c35022788ef2fa0","2e8cfa5ccacb135c","cb2aa8038e9ee2ae","ac6f4c5bd7e51e2b","1e2f543e8f8dcaa9","c705361665cb10c7","db894c3411a5bc54","49beef8e2ac44dd2"]]},{"id":"e65dab0daeb614fc","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"1f9b3446d66d069e","order":2,"width":"0","height":"0","name":"Temperature:","label":"Temperature:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3930,"y":600,"wires":[]},{"id":"338d1ec555a214ec","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3825,"y":600,"wires":[["e65dab0daeb614fc"]],"l":false},{"id":"cb248db7d84a8527","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"1f9b3446d66d069e","order":3,"width":"0","height":"0","name":"Pressure:","label":"Pressure:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3920,"y":640,"wires":[]},{"id":"b7f59b44e429e01d","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3825,"y":640,"wires":[["cb248db7d84a8527"]],"l":false},{"id":"acf0d84f53461aea","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"1f9b3446d66d069e","order":4,"width":"0","height":"0","name":"Humidity:","label":"Humidity:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3920,"y":680,"wires":[]},{"id":"529e88900e03d3e1","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3825,"y":680,"wires":[["acf0d84f53461aea"]],"l":false},{"id":"9e63b43988313b58","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"1f9b3446d66d069e","order":5,"width":"0","height":"0","name":"Gas Resistance:","label":"Gas Resistance:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3940,"y":720,"wires":[]},{"id":"f722cdfb6aacf5bc","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.gas_resistance","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3825,"y":720,"wires":[["9e63b43988313b58"]],"l":false},{"id":"d4daa5732faa8d6e","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"1f9b3446d66d069e","order":6,"width":"0","height":"0","name":"IAQ:","label":"IAQ:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3910,"y":760,"wires":[]},{"id":"7fe28ac59393277c","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.iaq","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3825,"y":760,"wires":[["d4daa5732faa8d6e"]],"l":false},{"id":"547d1969fb6fcee2","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"1f9b3446d66d069e","order":1,"width":"0","height":"0","name":"SENSOR DATA (payload)","label":"SENSOR DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":3930,"y":560,"wires":[]},{"id":"8dced0db32ec6371","type":"link in","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"link in 5","links":["0a1f12c4acb85b5f"],"x":3715,"y":800,"wires":[["338d1ec555a214ec","b7f59b44e429e01d","529e88900e03d3e1","f722cdfb6aacf5bc","7fe28ac59393277c","4b406b69932de2c8","9a980cb839e5213a","b8977eae75717f43","8c54777d7886935e","30cf6ac9ac6a34fd","0b68b6047cc608ad"]]},{"id":"3616b12715438bcd","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"1f9b3446d66d069e","order":7,"width":"0","height":"0","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3910,"y":800,"wires":[]},{"id":"4b406b69932de2c8","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.input_3_counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3825,"y":800,"wires":[["3616b12715438bcd"]],"l":false},{"id":"ef2a29281c3ef667","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"1f9b3446d66d069e","order":8,"width":"0","height":"0","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3910,"y":840,"wires":[]},{"id":"9a980cb839e5213a","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.input_3_timer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3825,"y":840,"wires":[["ef2a29281c3ef667"]],"l":false},{"id":"c0c0018b63519daf","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"1f9b3446d66d069e","order":9,"width":"0","height":"0","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3910,"y":880,"wires":[]},{"id":"b8977eae75717f43","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.accelerometer_counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3825,"y":880,"wires":[["c0c0018b63519daf"]],"l":false},{"id":"bf4b6fa3bff32914","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"1f9b3446d66d069e","order":10,"width":"0","height":"0","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3910,"y":920,"wires":[]},{"id":"8c54777d7886935e","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.accelerometer_timer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3825,"y":920,"wires":[["bf4b6fa3bff32914"]],"l":false},{"id":"afd92a593078cabf","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"1f9b3446d66d069e","order":11,"width":"0","height":"0","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3910,"y":960,"wires":[]},{"id":"30cf6ac9ac6a34fd","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.magnetometer_counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3825,"y":960,"wires":[["afd92a593078cabf"]],"l":false},{"id":"63e6722db1e69a7f","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"1f9b3446d66d069e","order":12,"width":"0","height":"0","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3910,"y":1000,"wires":[]},{"id":"0b68b6047cc608ad","type":"change","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.magnetometer_timer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3825,"y":1000,"wires":[["63e6722db1e69a7f"]],"l":false},{"id":"b061b62372c65409","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"1f9b3446d66d069e","order":11,"width":"3","height":"5","name":"relleno","label":"","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3910,"y":1040,"wires":[]},{"id":"7204cad82d799e6c","type":"ui-text","z":"edabe7708d2a664c","g":"7854bfbc8bea4c2b","group":"b97d9fa1554d569a","order":11,"width":"3","height":"6","name":"relleno","label":"","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":4290,"y":1040,"wires":[]},{"id":"ec3b4ec0e5b211c2","type":"ui-group","z":"edabe7708d2a664c","name":"Download","page":"5c15b1e2f3197787","width":"6","height":"1","order":3,"showTitle":false,"className":"grupoDownload","visible":"true","disabled":"false"},{"id":"f68f28553dee9a7e","type":"ui-group","z":"edabe7708d2a664c","name":"Inspect1","page":"5c15b1e2f3197787","width":"3","height":"1","order":11,"showTitle":false,"className":"dataGroupE ","visible":"true","disabled":"false"},{"id":"b97d9fa1554d569a","type":"ui-group","z":"edabe7708d2a664c","name":"Inspect2","page":"5c15b1e2f3197787","width":"3","height":"1","order":13,"showTitle":false,"className":"dataGroupE ","visible":"true","disabled":"false"},{"id":"1f9b3446d66d069e","type":"ui-group","z":"edabe7708d2a664c","name":"Inspect3","page":"5c15b1e2f3197787","width":"3","height":"1","order":12,"showTitle":false,"className":"dataGroupE ","visible":"true","disabled":"false"},{"id":"128eefc19c079df1","type":"junction","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","x":1380,"y":540,"wires":[["62ec095656804e6d"]]},{"id":"8147a273e5b291ac","type":"junction","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","x":1500,"y":920,"wires":[["927bf9d607e88168"]]},{"id":"093e946cbd33d7d8","type":"junction","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","x":680,"y":1020,"wires":[["883f5086dfabaaec"]]},{"id":"3f20a661c42869fa","type":"junction","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","x":1340,"y":700,"wires":[["62ec095656804e6d"]]},{"id":"927bf9d607e88168","type":"junction","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","x":1640,"y":920,"wires":[["9fabf874cbba65c8"]]},{"id":"17aee79d2796f0fd","type":"junction","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","x":700,"y":540,"wires":[["865f0e87aa09ed17","c03d9f2f3c5bbd57"]]},{"id":"627cd812d3391a60","type":"junction","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","x":2200,"y":1020,"wires":[["856f7927e1e78e3e","92df7624dec1f66b"]]},{"id":"d819f041c878bb48","type":"junction","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","x":1680,"y":660,"wires":[["0915def395be14f5"]]},{"id":"15380ccbf04e60ec","type":"junction","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","x":1540,"y":660,"wires":[["c836fc0c8f542609"]]},{"id":"fc6d7682ee658152","type":"junction","z":"edabe7708d2a664c","g":"5545d38980979783","x":3020,"y":600,"wires":[["7ee9f7cbd073cfa9"]]},{"id":"17f26ab0b46d627d","type":"junction","z":"edabe7708d2a664c","g":"5545d38980979783","x":3020,"y":560,"wires":[["701f37bed448308f"]]},{"id":"0915def395be14f5","type":"junction","z":"edabe7708d2a664c","g":"6f7b058b4cb583f7","x":1740,"y":620,"wires":[[]]},{"id":"d55341dc558cba31","type":"group","z":"edabe7708d2a664c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["e3fb2d253481689e","a86756ea0613b0ae","72a70c77c0dfb08c"],"x":3154,"y":279,"w":432,"h":82},{"id":"5545d38980979783","type":"group","z":"edabe7708d2a664c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["701f37bed448308f","7ee9f7cbd073cfa9","f0bf3539a918c488","a6231c0051742e83","8f4f8fbe12fa1122","8d361e83571083c4","a37b6cf24b5bd5b1","268c25229c4875bf","82c58ea770f52f0b","ab0185a1cf73ad62","97f812c2b5220649","4d771fddd9078201","4eca56ab560de4c4","f70b8ad7d285e982","75e31f3b7fbeb688","87aa299874233883","e46b50cfdafd547e","6a644f8209f99413","8f3d42699084d4ce","06dd0f39e0122974","9dfe2fe0bea1a373","e053ac1e4c0ec97e","861170fb33608a41","eb617db5caeeed2a","919bbcecec2da1a2","baa3ad7f747cb31d","daa8ed528f78f3fb","da8339ab0fa76a0a","519d9d5b53170b0d","9cd1f055d9b3c490","fbdcd7d6ce406db2","fc6d7682ee658152","17f26ab0b46d627d","17967e930b37608c","ad80122f0e02eb46"],"x":2924,"y":399,"w":342,"h":682},{"id":"399eeb0f40866f12","type":"group","z":"edabe7708d2a664c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["593614a94a0e458d","4de90f2194ea67c2","d0215dddc5405f4f","b3f8c415d9f08957","4514dac4aed76fe4","37c056b1c6ed909a","d3eb84eb659a368c","6082d23e2ce1300c"],"x":2554,"y":159,"w":572,"h":202},{"id":"a0d9e325290a6673","type":"group","z":"edabe7708d2a664c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ac0670d187b53dc3","2b7ce5297abe0e29","85707ad549a810aa","14c1dce187de5718","2a145eab36f7f394","9e72092ceef27fa7","d5e415c414044936","2579aad3f5314432","8892a81fa025601d","a8f1aac0e75ada54","f23408d8e0263d9f","914ee9ce2e55ac1f","684e98c4ec39c837","5d93344d33fc2825","6188637f0a5d8a8d","2caac093d09d9f83","e8e01dae43b2699b","dffa5a696d7a2464","3c5bca30d6a0e0df","8241f7d0f3ae478d","6c5858801d4c2d8b","7522c388fc6a6f9d","5c9250eafdbd67a4","b5cb374663256f7f","268d04d921643788","562a6f5a945d3a2a","e07c131dbb5d5cc7","94bc3043d305ad9a","cf03be5552afe7d1","57310503ccb14428","d9cc779953431dbc","9604d72722f01ce2","e7c7727f91517170","d8cbd25f81e28193","b90996a0a123557a","dcdf49030ff07f16","58634e04258db7a6","0dd1a5f204dd171e","8cd8d7aaa783b092"],"x":2584,"y":399,"w":292,"h":802},{"id":"e9cc381d5c3cb697","type":"group","z":"edabe7708d2a664c","name":"","style":{"fill":"none","label":true},"nodes":["116fb6f6a21770e9","e1540544d8fc93e6","1f187f9c0d35d05d"],"x":2894,"y":1099,"w":392,"h":122},{"id":"09e25c4fa9c62133","type":"group","z":"edabe7708d2a664c","name":"","style":{"fill":"none","label":true},"nodes":["1e24a5261a46a122","49f9cb892f6e56c3","7ac9793b0fd971cf","3cd318e2bcd1c2e9","52da0e304472dd5e","76b2b790949b4457","4626f822135a90c8","ddeb6e54c910230b","623ac19872325264","00957104656341e4","2421dc8416c9d443","297f8f15b5c05078","95c9522049318d8d","fea744703720cf6d","2e946e17e113b6c4","43671ac9cf270950"],"x":1334,"y":1099,"w":1092,"h":182},{"id":"7854bfbc8bea4c2b","type":"group","z":"edabe7708d2a664c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["27aaecfb22c6f4b8","5c028e3fa776f07f","a628d5b82f2110e5","cc235f3aba8662e9","0821b96a82922be4","bc1e6c6cf345980a","a50902ea44ad132f","9b2fbdd11d021e7c","a1f2e3b89cca034f","984e6b45246cd0b9","3b4401e25a3c3f39","6bfda0e77d2e9850","4bc08597cca2e261","1530a061e2262ce8","1d2281e2d5846cbe","5e75caa399012980","33068eadcce8e0a4","6a5fbbdc9f0fc3fc","889e4f438c623329","e15bbadeeead0428","f3f99ca906f2023f","95c1b9cfbd290212","999a460527a23c53","901f990eb1ccf0b8","fbd2177365049506","6c35022788ef2fa0","5363747d17e21eb8","cdac8c44b88f224e","2e8cfa5ccacb135c","1079a63519547fbb","cb2aa8038e9ee2ae","25fc4d5f70d96403","ac6f4c5bd7e51e2b","f9477ed341aa1e11","1e2f543e8f8dcaa9","7f57013c123a0242","c705361665cb10c7","c936293bb7b16a50","db894c3411a5bc54","92fe518d3149fbc6","49beef8e2ac44dd2","398f33f7b2051050","b8472e4b80951f1e","e65dab0daeb614fc","338d1ec555a214ec","cb248db7d84a8527","b7f59b44e429e01d","acf0d84f53461aea","529e88900e03d3e1","9e63b43988313b58","f722cdfb6aacf5bc","d4daa5732faa8d6e","7fe28ac59393277c","547d1969fb6fcee2","8dced0db32ec6371","3616b12715438bcd","4b406b69932de2c8","ef2a29281c3ef667","9a980cb839e5213a","c0c0018b63519daf","b8977eae75717f43","bf4b6fa3bff32914","8c54777d7886935e","afd92a593078cabf","30cf6ac9ac6a34fd","63e6722db1e69a7f","0b68b6047cc608ad","b061b62372c65409","7204cad82d799e6c"],"x":3294,"y":519,"w":1172,"h":562},{"id":"c78f143967db981b","type":"group","z":"edabe7708d2a664c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["9cf72e51b8ecba2c","0347d234fb30c2ce","7e5a61787077de09"],"x":3294,"y":419,"w":402,"h":82},{"id":"6f7b058b4cb583f7","type":"group","z":"edabe7708d2a664c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["0a1f12c4acb85b5f","92df7624dec1f66b","856f7927e1e78e3e","b38c653caa590c02","9fabf874cbba65c8","40d8fbdb38f11c8b","27c5ad1332131ca2","62ec095656804e6d","962ef80d22f5bd20","4e31a4dbb951936a","cf31104f828af82c","8c5ecc43d81a5647","18d150bcb2181d57","c9cedf7cbb0a8161","fd46970994c0c655","677710e2d40b030b","3ffa10008a202e4e","883f5086dfabaaec","5e96ad4ef712204c","5e5a79c1c71d515e","520abd0e0f05c143","6ac95f98abcc8c2d","e5ba983e8c4c0e88","4592a4c15fb2e4bd","8df3e6fe990a582c","a74c0b152adc7273","c836fc0c8f542609","326b745a38f7c13e","26cf13f162d5b20a","d50bf1f6726bb371","865f0e87aa09ed17","c03d9f2f3c5bbd57","ce8d71eecbd501e8","cf50786ae6079c13","b1474b5ea82287ae","98f9a94c02b5c1cb","2cad4e5a935fa5bf","c3fe8b9198869316","ef52e24230d9d801","1990d8fbf4baacdd","38c34e274b59540d","af62fb1133f87a5b","2683a79afa09d5f2","4d87dec3e975086e","500870ec5a6a8285","bdde836b66f98f20","edae2f853b976101","bb49bd327a2b2cd0","7031c8ca26c78a73","54bb58175cede63a","efb841289782f0f3","e06512402183ba91","72fe3f20b2a6bb61","128eefc19c079df1","8147a273e5b291ac","093e946cbd33d7d8","3f20a661c42869fa","927bf9d607e88168","17aee79d2796f0fd","627cd812d3391a60","d819f041c878bb48","15380ccbf04e60ec","0915def395be14f5"],"x":264,"y":479,"w":2162,"h":582},{"id":"cf9351fe8c328f36","type":"ui-group","name":"Temperature °C","page":"5c15b1e2f3197787","width":"6","height":"1","order":5,"showTitle":false,"className":"grupos","visible":"true","disabled":"false"},{"id":"f75d8b5ba5c68edd","type":"ui-group","name":"Pressure","page":"5c15b1e2f3197787","width":"6","height":"1","order":6,"showTitle":false,"className":"grupos","visible":"true","disabled":"false"},{"id":"8bbea087d814c6ac","type":"ui-group","name":"Humidity","page":"5c15b1e2f3197787","width":"6","height":"1","order":7,"showTitle":false,"className":"grupos","visible":"true","disabled":"false"},{"id":"91e19a0f2deaf979","type":"ui-group","name":"Gas Resistence","page":"5c15b1e2f3197787","width":"6","height":"1","order":8,"showTitle":false,"className":"grupos","visible":"true","disabled":"false"},{"id":"9d2cef96a932d698","type":"ui-group","name":"Temperature °F","page":"5c15b1e2f3197787","width":"6","height":"1","order":4,"showTitle":false,"className":"grupos","visible":"true","disabled":"false"},{"id":"ec459411017ddf37","type":"ui-base","name":"ncd-ui-base","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"navigationStyle":"default"},{"id":"0f0dada195e9410e","type":"ui-group","name":"Select MAC","page":"5c15b1e2f3197787","width":"2","height":"1","order":1,"showTitle":false,"className":"grupoSelectMac","visible":"true","disabled":"false"},{"id":"46158a7c29ee5223","type":"ui-group","name":"Information","page":"5c15b1e2f3197787","width":"2","height":"1","order":2,"showTitle":false,"className":"grupoInfo","visible":"true","disabled":"false"},{"id":"d35a301d5e4b1f74","type":"ui-group","name":"Battery","page":"5c15b1e2f3197787","width":"6","height":"1","order":9,"showTitle":false,"className":"grupos","visible":"true","disabled":"false"},{"id":"f14307612747dae2","type":"ui-group","name":"iaq","page":"5c15b1e2f3197787","width":"6","height":"1","order":10,"showTitle":false,"className":"grupos","visible":"true","disabled":"false"},{"id":"5c15b1e2f3197787","type":"ui-page","name":"ncd-environment","ui":"ec459411017ddf37","path":"/environment","icon":"sprout-outline","layout":"grid","theme":"db16d37014f679a1","order":1,"className":"","visible":"true","disabled":"false"},{"id":"db16d37014f679a1","type":"ui-theme","name":"ncdTheme","colors":{"surface":"#0099cc","primary":"#0931fb","bgPage":"#a3a7a8","groupBg":"#84daf0","groupOutline":"#9da2a4"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"10px"}},{"id":"0a99d7a5b1dca0fe","type":"subflow:edabe7708d2a664c","z":"0f850dc8977c3d53","name":"","x":1280,"y":3240,"wires":[]}]
