EnvironmentalTemperatureHumidityPressureAirQualitySensor.json
[{"id":"1c822538c6478e5c","type":"subflow","name":"Environment Sensor","info":"","category":"NCD","in":[{"x":180,"y":620,"wires":[{"id":"408a3a793d037d78"}]}],"out":[],"env":[{"name":"Path","type":"str","value":"","ui":{"icon":"font-awesome/fa-folder-open-o","label":{"en-US":"Custom Path"},"type":"input","opts":{"types":["str"]}}}],"meta":{"author":"ncd.io"},"color":"#3FADB5","icon":"font-awesome/fa-area-chart","status":{"x":2500,"y":620,"wires":[{"id":"635b4000991cfc33","port":0}]}},{"id":"078b223d78ec93d2","type":"ui-gauge","z":"1c822538c6478e5c","g":"272ed039d1835c5a","name":"Temperature C","group":"6531a2afa5222cb2","order":1,"width":"2","height":"1","gtype":"gauge-34","gstyle":"needle","title":"Temperature","units":"°C","icon":"","prefix":"","suffix":"","segments":[{"from":"-40","color":"#0097f5"},{"from":"0","color":"#30b300"},{"from":"27","color":"#fbff00"},{"from":"40","color":"#ff0000"}],"min":"-40","max":"85","sizeThickness":"22","sizeGap":"4","sizeKeyThickness":"10","styleRounded":true,"styleGlow":false,"className":"","x":3160,"y":560,"wires":[]},{"id":"dae6f71045419df9","type":"ui-chart","z":"1c822538c6478e5c","g":"272ed039d1835c5a","group":"6531a2afa5222cb2","name":"","label":"History (°C)","order":2,"chartType":"line","category":"topic","categoryType":"msg","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"temperature","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":4,"showLegend":false,"removeOlder":"30","removeOlderUnit":"60","removeOlderPoints":"50","colors":["#ff7b00","#028a00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"1","className":"historyGraph","x":3170,"y":600,"wires":[[]]},{"id":"645920037c2aa8a5","type":"link in","z":"1c822538c6478e5c","g":"272ed039d1835c5a","name":"tempDashboard","links":["14c90b2433fa32e8"],"x":2965,"y":540,"wires":[["6a9dd5687ff2f4f2","f625d714248df137"]]},{"id":"0d10443488469fc0","type":"ui-gauge","z":"1c822538c6478e5c","g":"272ed039d1835c5a","name":"","group":"b798fcc7ba3f3b0d","order":1,"width":"2","height":"2","gtype":"gauge-34","gstyle":"needle","title":"Pressure","units":"hPa","prefix":"","suffix":"","segments":[{"from":"300","color":"#0097f5"},{"from":"400","color":"#30b300"},{"from":"600","color":"#fbff00"},{"from":"800","color":"#ff0000"}],"min":"300","max":"2000","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":3180,"y":680,"wires":[]},{"id":"a33a587975c79005","type":"ui-chart","z":"1c822538c6478e5c","g":"272ed039d1835c5a","group":"b798fcc7ba3f3b0d","name":"","label":"History (hPa)","order":2,"chartType":"line","category":"topic","categoryType":"msg","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"pressure","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":4,"showLegend":false,"removeOlder":"30","removeOlderUnit":"60","removeOlderPoints":"50","colors":["#303131","#028a00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"2","className":"historyGraph","x":3170,"y":720,"wires":[[]]},{"id":"aa0b0ea50bd9ce39","type":"link in","z":"1c822538c6478e5c","g":"272ed039d1835c5a","name":"battDashboard","links":["91ce0beb45c0c57d"],"x":2965,"y":920,"wires":[["498a094c6963bde4"]]},{"id":"b9d593d98e5c0721","type":"ui-gauge","z":"1c822538c6478e5c","g":"272ed039d1835c5a","name":"","group":"7aef9892006a692d","order":1,"width":"2","height":"2","gtype":"gauge-34","gstyle":"needle","title":"Humidity","units":"%","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#0097f5"},{"from":"10","color":"#30b300"},{"from":"87","color":"#fbff00"},{"from":"90","color":"#ff0000"}],"min":"0","max":"100","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":3180,"y":760,"wires":[]},{"id":"92ec3d5fe2d95e9a","type":"ui-chart","z":"1c822538c6478e5c","g":"272ed039d1835c5a","group":"7aef9892006a692d","name":"","label":"History (%)","order":2,"chartType":"line","category":"topic","categoryType":"msg","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"humidity","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":4,"showLegend":false,"removeOlder":"30","removeOlderUnit":"60","removeOlderPoints":"50","colors":["#0024b3","#006eff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"2","className":"historyGraph","x":3170,"y":800,"wires":[[]]},{"id":"b31b362e19ceb503","type":"link in","z":"1c822538c6478e5c","g":"272ed039d1835c5a","name":"pressDashboard","links":["2ae89843c341cc1c"],"x":2965,"y":680,"wires":[["0d10443488469fc0"]]},{"id":"0ae5c2e540ec5685","type":"link in","z":"1c822538c6478e5c","g":"272ed039d1835c5a","name":"humDashboard","links":["273a66acfaeb9a1e"],"x":2965,"y":760,"wires":[["b9d593d98e5c0721"]]},{"id":"0da19a4590eca041","type":"ui-gauge","z":"1c822538c6478e5c","g":"272ed039d1835c5a","name":"","group":"b1d7ab8c6792dd26","order":1,"width":"2","height":"1","gtype":"gauge-34","gstyle":"needle","title":"Gas Resistance","units":"Ω","icon":"","prefix":"","suffix":"","segments":[{"from":"4000","color":"#0097f5"},{"from":"10000","color":"#30b300"},{"from":"1000000","color":"#fbff00"},{"from":"10000000","color":"#ff0000"}],"min":"4000","max":"20000000","sizeThickness":"15","sizeGap":"4","sizeKeyThickness":"8","styleRounded":true,"styleGlow":false,"className":"","x":3160,"y":840,"wires":[]},{"id":"45c52e96a2eb55c1","type":"ui-chart","z":"1c822538c6478e5c","g":"272ed039d1835c5a","group":"b1d7ab8c6792dd26","name":"","label":"History (Ω)","order":2,"chartType":"line","category":"topic","categoryType":"msg","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"gas_resistance","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":4,"showLegend":false,"removeOlder":"30","removeOlderUnit":"60","removeOlderPoints":"50","colors":["#01839d","#009996","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"1","className":"historyGraph","x":3170,"y":880,"wires":[[]]},{"id":"034257efe14f7e0a","type":"link in","z":"1c822538c6478e5c","g":"272ed039d1835c5a","name":"gasDashboard","links":["2b3a343ca2d7344a"],"x":2965,"y":840,"wires":[["0da19a4590eca041"]]},{"id":"d515770b70f1962a","type":"link in","z":"1c822538c6478e5c","g":"272ed039d1835c5a","name":"iaqDashboard","links":["05532c4ff572ba08"],"x":2965,"y":1000,"wires":[["82f233b76b9ba763"]]},{"id":"b54672ab5ffc069b","type":"ui-gauge","z":"1c822538c6478e5c","g":"272ed039d1835c5a","name":"Temperature F","group":"c143551b35e403f6","order":1,"width":"2","height":"1","gtype":"gauge-34","gstyle":"needle","title":"Temperature","units":"°F","prefix":"","suffix":"","segments":[{"from":"-40","color":"#0097f5"},{"from":"0","color":"#30b300"},{"from":"100","color":"#fbff00"},{"from":"150","color":"#ff0000"}],"min":"-40","max":"185","sizeThickness":"22","sizeGap":4,"sizeKeyThickness":"10","styleRounded":true,"styleGlow":false,"className":"","x":3160,"y":520,"wires":[]},{"id":"6a9dd5687ff2f4f2","type":"change","z":"1c822538c6478e5c","g":"272ed039d1835c5a","name":"Celcius to Fahrenheit","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload*1.8)+32","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$formatNumber(payload, '0.00')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3035,"y":520,"wires":[["b54672ab5ffc069b"]],"l":false},{"id":"43949d2b42fbd222","type":"ui-chart","z":"1c822538c6478e5c","g":"272ed039d1835c5a","group":"c143551b35e403f6","name":"","label":"History (°F) ","order":2,"chartType":"line","category":"topic","categoryType":"msg","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"TemperatureF","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":4,"showLegend":false,"removeOlder":"30","removeOlderUnit":"60","removeOlderPoints":"50","colors":["#ff7b00","#028a00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"1","className":"historyGraph","x":3170,"y":640,"wires":[[]]},{"id":"9e254f4a7b2f8a83","type":"change","z":"1c822538c6478e5c","g":"272ed039d1835c5a","name":"Celcius to Fahrenheit","rules":[{"t":"set","p":"payload.TemperatureF","pt":"msg","to":"(payload.temperature*1.8)+32","tot":"jsonata"},{"t":"set","p":"payload.TemperatureF","pt":"msg","to":"$formatNumber(payload.TemperatureF, '0.00')","tot":"jsonata"},{"t":"set","p":"payload.TemperatureF","pt":"msg","to":"$number(payload.TemperatureF)","tot":"jsonata"},{"t":"delete","p":"payload.temperature","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3035,"y":640,"wires":[["43949d2b42fbd222"]],"l":false},{"id":"a67597cbd7659ad0","type":"link in","z":"1c822538c6478e5c","g":"272ed039d1835c5a","name":"charHumIn","links":["b539b7756a7ba557","195139ab760789ae"],"x":2965,"y":800,"wires":[["92ec3d5fe2d95e9a"]]},{"id":"b76d2af419128206","type":"link in","z":"1c822538c6478e5c","g":"272ed039d1835c5a","name":"charGasIn","links":["b539b7756a7ba557","5bf44877c6e1d1cb"],"x":2965,"y":880,"wires":[["45c52e96a2eb55c1"]]},{"id":"f17ad95868eafaec","type":"link in","z":"1c822538c6478e5c","g":"272ed039d1835c5a","name":"charPressIn","links":["b539b7756a7ba557","02473ea0b9117a3e"],"x":2965,"y":720,"wires":[["a33a587975c79005"]]},{"id":"09ea0eec3efd3e10","type":"link in","z":"1c822538c6478e5c","g":"272ed039d1835c5a","name":"charTempIn","links":["b539b7756a7ba557","493a92cefa9a8c4f"],"x":2965,"y":620,"wires":[["9e254f4a7b2f8a83","e508af73166e3f45"]]},{"id":"0be72f1d22dd091f","type":"change","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"getTemp","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.temperature","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$formatNumber(payload, '0.00')","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2720,"y":440,"wires":[["14c90b2433fa32e8"]]},{"id":"810a5007d070da40","type":"link in","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"tempIn","links":["520fbd12de5b8874"],"x":2625,"y":440,"wires":[["0be72f1d22dd091f"]]},{"id":"066eebdc6e9fd4a8","type":"change","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"getPressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.pressure","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$formatNumber(payload, '0.00')","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2730,"y":740,"wires":[["2ae89843c341cc1c"]]},{"id":"abe611574c01fc86","type":"link in","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"pressIn","links":["520fbd12de5b8874"],"x":2625,"y":740,"wires":[["066eebdc6e9fd4a8"]]},{"id":"072d8f02ec56bc0e","type":"change","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"getHumidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.humidity","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$formatNumber(payload, '0.00')","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2730,"y":860,"wires":[["273a66acfaeb9a1e"]]},{"id":"367d39645349c732","type":"link in","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"humIn","links":["520fbd12de5b8874"],"x":2625,"y":860,"wires":[["072d8f02ec56bc0e"]]},{"id":"12bc73ff10a657ca","type":"change","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"getGas","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.gas_resistance","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$formatNumber(payload, '0')","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2720,"y":980,"wires":[["2b3a343ca2d7344a"]]},{"id":"f718d555ae766459","type":"link in","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"gasIn","links":["520fbd12de5b8874"],"x":2625,"y":980,"wires":[["12bc73ff10a657ca"]]},{"id":"d03acde1b071db8b","type":"change","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"getIAQ","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.iaq","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$formatNumber(payload, '0.00')","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2720,"y":1100,"wires":[["05532c4ff572ba08"]]},{"id":"5caf3fb9dab7d82f","type":"link in","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"iaqIn","links":["520fbd12de5b8874"],"x":2625,"y":1100,"wires":[["d03acde1b071db8b"]]},{"id":"14c90b2433fa32e8","type":"link out","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"tempout","mode":"link","links":["645920037c2aa8a5"],"x":2835,"y":440,"wires":[]},{"id":"2ae89843c341cc1c","type":"link out","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"pressout","mode":"link","links":["b31b362e19ceb503"],"x":2835,"y":740,"wires":[]},{"id":"273a66acfaeb9a1e","type":"link out","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"humout","mode":"link","links":["0ae5c2e540ec5685"],"x":2835,"y":860,"wires":[]},{"id":"2b3a343ca2d7344a","type":"link out","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"gasout","mode":"link","links":["034257efe14f7e0a"],"x":2835,"y":980,"wires":[]},{"id":"05532c4ff572ba08","type":"link out","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"iaqout","mode":"link","links":["d515770b70f1962a"],"x":2835,"y":1100,"wires":[]},{"id":"a49fd0d9babde660","type":"change","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"getBattPerc","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"$formatNumber(payload, '0.00')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2730,"y":620,"wires":[["91ce0beb45c0c57d"]]},{"id":"cd2a0e77c503c626","type":"link in","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"tempIn","links":["520fbd12de5b8874"],"x":2625,"y":620,"wires":[["a49fd0d9babde660"]]},{"id":"91ce0beb45c0c57d","type":"link out","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"battPercout","mode":"link","links":["aa0b0ea50bd9ce39"],"x":2835,"y":620,"wires":[]},{"id":"f0b0a12c6f67f9d2","type":"change","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"getBattNum","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.temperature","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"$formatNumber(payload, '0.00')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2730,"y":560,"wires":[["9450a21bff29b366"]]},{"id":"31cd7ffd4cd9a4e2","type":"link in","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"tempIn","links":["520fbd12de5b8874"],"x":2625,"y":560,"wires":[["f0b0a12c6f67f9d2"]]},{"id":"9450a21bff29b366","type":"link out","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"battNumout","mode":"link","links":[],"x":2835,"y":560,"wires":[]},{"id":"ee42c1c09b7d785f","type":"link in","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"tempIn","links":["520fbd12de5b8874"],"x":2625,"y":500,"wires":[["0b325fdc3699933d"]]},{"id":"493a92cefa9a8c4f","type":"link out","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"tempout","mode":"link","links":["09ea0eec3efd3e10"],"x":2835,"y":500,"wires":[]},{"id":"0b325fdc3699933d","type":"function","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"function 27","func":"let Timestamp = msg.data.received;\nlet data = msg.data.sensor_data.temperature;\nmsg = {};\nmsg.payload = {\n    \"Timestamp\" : Timestamp,\n    \"temperature\" : data\n}\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2730,"y":500,"wires":[["493a92cefa9a8c4f"]]},{"id":"7ddc993477ad5f25","type":"link in","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"tempIn","links":["520fbd12de5b8874"],"x":2625,"y":800,"wires":[["a4eadab2e0f36cca"]]},{"id":"02473ea0b9117a3e","type":"link out","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"tempout","mode":"link","links":["f17ad95868eafaec"],"x":2835,"y":800,"wires":[]},{"id":"a4eadab2e0f36cca","type":"function","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"function 28","func":"let Timestamp = msg.data.received;\nlet data = msg.data.sensor_data.pressure;\nmsg = {};\nmsg.payload = {\n    \"Timestamp\" : Timestamp,\n    \"pressure\" : data\n}\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2730,"y":800,"wires":[["02473ea0b9117a3e"]]},{"id":"066d8bfc7e5ee4cb","type":"link in","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"tempIn","links":["520fbd12de5b8874"],"x":2625,"y":920,"wires":[["8fa9f7aa371c50a8"]]},{"id":"195139ab760789ae","type":"link out","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"tempout","mode":"link","links":["a67597cbd7659ad0"],"x":2835,"y":920,"wires":[]},{"id":"8fa9f7aa371c50a8","type":"function","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"function 29","func":"let Timestamp = msg.data.received;\nlet data = msg.data.sensor_data.humidity;\nmsg = {};\nmsg.payload = {\n    \"Timestamp\" : Timestamp,\n    \"humidity\" : data\n}\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2730,"y":920,"wires":[["195139ab760789ae"]]},{"id":"3c97356547400cd4","type":"link in","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"tempIn","links":["520fbd12de5b8874"],"x":2625,"y":1040,"wires":[["68f63e118b1f2920"]]},{"id":"5bf44877c6e1d1cb","type":"link out","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"tempout","mode":"link","links":["b76d2af419128206"],"x":2835,"y":1040,"wires":[]},{"id":"68f63e118b1f2920","type":"function","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"function 30","func":"let Timestamp = msg.data.received;\nlet data = msg.data.sensor_data.gas_resistance;\nmsg = {};\nmsg.payload = {\n    \"Timestamp\" : Timestamp,\n    \"gas_resistance\" : data\n}\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2730,"y":1040,"wires":[["5bf44877c6e1d1cb"]]},{"id":"23abb002b16d69d1","type":"ui-control","z":"1c822538c6478e5c","g":"62ddd4fb656d9799","name":"","ui":"ec459411017ddf37","events":"all","x":3040,"y":260,"wires":[[]]},{"id":"f01a844b0ec1721b","type":"ui-event","z":"1c822538c6478e5c","g":"62ddd4fb656d9799","ui":"ec459411017ddf37","name":"","x":2670,"y":280,"wires":[["c4288b91c168fe8e"]]},{"id":"c4288b91c168fe8e","type":"function","z":"1c822538c6478e5c","g":"62ddd4fb656d9799","name":"getTemUnit","func":"let unit = flow.get(\"tempUnit\") || 0;\n\nif(!unit){\n    unit = \n    {\n        groups: \n        { \n            show: [\"ncd-environment:Temperature °C\"],\n            hide: [\"ncd-environment:Temperature °F\",\n                   \"ncd-environment:Inspect1\",\n                   \"Senncd-environmentsor:Inspect2\",\n                   \"ncd-environment:Inspect3\"]\n        } \n    }\n}\n\nmsg.payload = unit;\nflow.set(\"tempUnit\", unit);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2870,"y":280,"wires":[["23abb002b16d69d1"]]},{"id":"6244859883f7b694","type":"change","z":"1c822538c6478e5c","g":"62ddd4fb656d9799","name":"setTempUnitUser","rules":[{"t":"set","p":"tempUnit","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"unitSelected","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2850,"y":320,"wires":[["23abb002b16d69d1"]]},{"id":"3dbef0cef43af493","type":"ui-dropdown","z":"1c822538c6478e5c","g":"62ddd4fb656d9799","group":"a8298a637285cea3","name":"","label":"Unit:","tooltip":"","order":1,"width":"0","height":"0","passthru":false,"multiple":false,"options":[{"label":"°C","value":"{\"groups\":{\"show\":[\"ncd-environment:Temperature °C\"],\"hide\":[\"ncd-environment:Temperature °F\",\"ncd-environment:Inspect1\",\"ncd-environment:Inspect2\",\"ncd-environment:Inspect3\"]}}","type":"str"},{"label":"°F","value":"{\"groups\":{\"show\":[\"ncd-environment:Temperature °F\"],\"hide\":[\"ncd-environment:Temperature °C\",\"ncd-environment:Inspect1\",\"ncd-environment:Inspect2\",\"ncd-environment:Inspect3\"]}}","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":2630,"y":320,"wires":[["5d62fa22d3ca1c90"]]},{"id":"5d62fa22d3ca1c90","type":"json","z":"1c822538c6478e5c","g":"62ddd4fb656d9799","name":"","property":"payload","action":"","pretty":false,"x":2725,"y":320,"wires":[["6244859883f7b694"]],"l":false},{"id":"4752aa5b88ab4728","type":"ui-text","z":"1c822538c6478e5c","g":"272ed039d1835c5a","group":"60c12cca1d1c69d2","order":1,"width":"2","height":"1","name":"class: nodeId","label":"NodeID:  ","format":"{{msg.payload}}","layout":"row-center","style":true,"font":"","fontSize":16,"color":"#000000","className":"","x":3170,"y":440,"wires":[]},{"id":"a1687a70e2d57d93","type":"change","z":"1c822538c6478e5c","g":"272ed039d1835c5a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3025,"y":480,"wires":[["18d806aa0f4d8445"]],"l":false},{"id":"18d806aa0f4d8445","type":"ui-text","z":"1c822538c6478e5c","g":"272ed039d1835c5a","group":"60c12cca1d1c69d2","order":2,"width":"2","height":"1","name":"class: nodeId","label":"Type of sensor:   ","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":16,"color":"#000000","className":"","x":3170,"y":480,"wires":[]},{"id":"a188b867f8a21a84","type":"change","z":"1c822538c6478e5c","g":"272ed039d1835c5a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.nodeId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3025,"y":440,"wires":[["4752aa5b88ab4728"]],"l":false},{"id":"f9d2b7654ccb9512","type":"ui-chart","z":"1c822538c6478e5c","g":"272ed039d1835c5a","group":"ff5134e979e5fa26","name":"","label":"History (%)","order":3,"chartType":"line","category":"topic","categoryType":"msg","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"battery_percent","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":false,"removeOlder":"30","removeOlderUnit":"60","removeOlderPoints":"50","colors":["#01839d","#009996","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"2","className":"historyGraph","x":3170,"y":960,"wires":[[]]},{"id":"8f7a861922403f0e","type":"ui-chart","z":"1c822538c6478e5c","g":"272ed039d1835c5a","group":"ad197dd1876a8474","name":"","label":"History (IAQ)","order":2,"chartType":"line","category":"topic","categoryType":"msg","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"iaq","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":4,"showLegend":false,"removeOlder":"30","removeOlderUnit":"60","removeOlderPoints":"50","colors":["#01839d","#009996","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"2","className":"historyGraph","x":3170,"y":1040,"wires":[[]]},{"id":"51c0a070f15566e4","type":"link in","z":"1c822538c6478e5c","g":"272ed039d1835c5a","name":"charIaqIn","links":["66e10eb8d9be3f09","b539b7756a7ba557"],"x":2965,"y":1040,"wires":[["8f7a861922403f0e"]]},{"id":"e87a936780016cb4","type":"link in","z":"1c822538c6478e5c","g":"272ed039d1835c5a","name":"link in 7","links":["5cac7a1e2d225e4a","66e2587948ca821b"],"x":2965,"y":960,"wires":[["f9d2b7654ccb9512"]]},{"id":"26885fbdabdc10d3","type":"inject","z":"1c822538c6478e5c","g":"62ddd4fb656d9799","name":"refresh page","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"str","x":2925,"y":200,"wires":[["23abb002b16d69d1"]],"l":false},{"id":"1c34b08a63138ea2","type":"link in","z":"1c822538c6478e5c","g":"272ed039d1835c5a","name":"link in 10","links":["520fbd12de5b8874"],"x":2965,"y":460,"wires":[["a188b867f8a21a84","a1687a70e2d57d93"]]},{"id":"520fbd12de5b8874","type":"link out","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"sensorRAWout","mode":"link","links":["f718d555ae766459","810a5007d070da40","31cd7ffd4cd9a4e2","0dd9a05baa4a3ae4","abe611574c01fc86","cd2a0e77c503c626","a885ef1147867c82","047353f40d74e74a","5caf3fb9dab7d82f","367d39645349c732","ee42c1c09b7d785f","7ddc993477ad5f25","066d8bfc7e5ee4cb","3c97356547400cd4","1c34b08a63138ea2","ea60f08a6548dd80","caad2b2260b8bf29","050146b78d7c88a1","3f71dfb4ab80f48f","8cb6fb885c15ccf0"],"x":2375,"y":700,"wires":[]},{"id":"b539b7756a7ba557","type":"link out","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"toGraphs","mode":"link","links":["09ea0eec3efd3e10","51c0a070f15566e4","f17ad95868eafaec","a67597cbd7659ad0","b76d2af419128206"],"x":2375,"y":800,"wires":[]},{"id":"66e2587948ca821b","type":"link out","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"link out 55","mode":"link","links":["e87a936780016cb4"],"x":2385,"y":1020,"wires":[]},{"id":"b2e698ab671129f0","type":"change","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"getBattery","rules":[{"t":"set","p":"payload.battery_percent","pt":"msg","to":"payload.col4","tot":"msg"},{"t":"set","p":"payload.Timestamp","pt":"msg","to":"payload.col11","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2070,"y":840,"wires":[["66e2587948ca821b"]]},{"id":"41f9f3a9c123a773","type":"file in","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"path","filename":"filename","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1705,"y":840,"wires":[["fb35e3523ff77952"]],"l":false},{"id":"fb35e3523ff77952","type":"csv","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1755,"y":840,"wires":[["2a314bb92fe112e5"]],"l":false},{"id":"84e35043a1b67194","type":"change","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"Filter Data to save csv","rules":[{"t":"set","p":"payload","pt":"msg","to":"data","tot":"msg","dc":true},{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"},{"t":"delete","p":"payload.original","pt":"msg"},{"t":"delete","p":"payload.modem_mac","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":680,"wires":[["20c619e061614425"]]},{"id":"22b843da4e59201b","type":"csv","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\n","temp":"nodeId,firmware,battery,battery_percent,counter,sensor_type,sensor_data,sensor_name,type,addr,received","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":1435,"y":700,"wires":[["482a07b9f0f25734"]],"l":false},{"id":"482a07b9f0f25734","type":"file","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"","filename":"filename","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1485,"y":700,"wires":[["dfafe1c34f25f72a","a05eea19386de3bf"]],"l":false},{"id":"dfafe1c34f25f72a","type":"function","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"getAndSetMAC","func":"var newMAC = msg.data.addr;\nvar count = flow.get(\"countMAC\") || 0;\n\nfor (let index = 0; index < count; index++) {\n    let oldMAC = flow.get(\"MAC[\"+index+\"]\")[0]; // Acces to element 0 of array (MAC)\n    if(oldMAC == newMAC)\n    {\n        return msg;\n    }\n}\n// if new MAC is arrive\nflow.set(\"MAC[\"+count+\"]\", [newMAC, msg.data.sensor_type]); // Save array [MAC, TYPE]\ncount++;\nflow.set(\"countMAC\", count);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1620,"y":700,"wires":[["1bab654e507b3bb1"]]},{"id":"1cfde01902c07789","type":"ui-dropdown","z":"1c822538c6478e5c","g":"9604d0137f6db84f","group":"a8298a637285cea3","name":"","label":"Select MAC Device to Show Data:","tooltip":"","order":2,"width":"0","height":"0","passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":480,"y":840,"wires":[["08417597566ec76e","a5318e84247ef6c8"]]},{"id":"1bab654e507b3bb1","type":"function","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"getMACOptions","func":"let count = flow.get(\"countMAC\");\nlet options = [];\nfor (let index = 0; index < count; index++) {\n    options[index] = flow.get(\"MAC[\"+index+\"]\")[0];\n}\nmsg.options = options;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1820,"y":700,"wires":[["d87c516b3de04414","5d7535a03d575b60"]]},{"id":"a7e02a7baa70da1f","type":"change","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":920,"wires":[["75b8a7952bb1edc1"]]},{"id":"d87c516b3de04414","type":"switch","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"userMACSelection?","property":"data.addr","propertyType":"msg","rules":[{"t":"eq","v":"macSelection","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":2180,"y":700,"wires":[["520fbd12de5b8874"]]},{"id":"cd0aa98ed0bc2376","type":"change","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"getData","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"payload.col7","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2060,"y":800,"wires":[["3c532218cb745eaf"]]},{"id":"3c532218cb745eaf","type":"json","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"json object","property":"payload.data","action":"","pretty":false,"x":2165,"y":800,"wires":[["92e64d609a896a40"]],"l":false},{"id":"92e64d609a896a40","type":"function","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"getData","func":"let data = msg.payload.data;\nlet Timestamp = msg.payload.col11;\nmsg = {};\nmsg.payload = data;\nmsg.payload.Timestamp = Timestamp;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2260,"y":800,"wires":[["b539b7756a7ba557"]]},{"id":"942086edb0827ea9","type":"change","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"Clear char","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":1020,"wires":[["08671cb15e9058fb"]]},{"id":"20c619e061614425","type":"switch","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"else"},{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1050,"y":680,"wires":[["9e678a36f9c8fdf4"],["86583a584fbf2e83"],["8d31f28c081d472f"]]},{"id":"86583a584fbf2e83","type":"function","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"Linux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":680,"wires":[["7f13c0031d69bbde"]]},{"id":"8d31f28c081d472f","type":"function","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"windows","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":720,"wires":[["7f13c0031d69bbde"]]},{"id":"75b8a7952bb1edc1","type":"switch","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":920,"wires":[["d07ba1fd9a3e68ec"],["349c6f6e9b5617a6"]]},{"id":"d07ba1fd9a3e68ec","type":"function","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"Linux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":900,"wires":[["5439dfa30b8bb8cb"]]},{"id":"349c6f6e9b5617a6","type":"function","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"windows","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":940,"wires":[["5439dfa30b8bb8cb"]]},{"id":"5279c8b9398ddf4c","type":"catch","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"","scope":["41f9f3a9c123a773","482a07b9f0f25734"],"uncaught":false,"x":1615,"y":580,"wires":[["175c4d6732b6f7c2"]],"l":false},{"id":"175c4d6732b6f7c2","type":"function","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"function 23","func":"msg.payload = ({fill: \"red\",text:\"Path error\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1665,"y":600,"wires":[["635b4000991cfc33"]],"l":false},{"id":"bd0f72c40a76cde4","type":"function","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"function 24","func":"msg.payload = ({fill: \"green\",text:\"Saving data\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1615,"y":660,"wires":[["16e00ad4c326729a"]],"l":false},{"id":"9e678a36f9c8fdf4","type":"link out","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"errors","mode":"link","links":["2f0785009ff0df94"],"x":1175,"y":640,"wires":[]},{"id":"2f0785009ff0df94","type":"link in","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"Errors","links":["9e678a36f9c8fdf4"],"x":1615,"y":620,"wires":[["175c4d6732b6f7c2"]]},{"id":"449830c1111ac7af","type":"switch","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":610,"y":620,"wires":[["5e3d4689f70b082d"],["84e35043a1b67194"]]},{"id":"def2424c2f5fea8a","type":"change","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":520,"wires":[["06fe325ca2555aea"]]},{"id":"264dc715b289b946","type":"change","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":560,"wires":[["cb9a5eee5edd08c8"]]},{"id":"cb9a5eee5edd08c8","type":"switch","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"Win","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":560,"wires":[["0c485e6ecfa637c6"]]},{"id":"06fe325ca2555aea","type":"switch","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"Lin","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":520,"wires":[["118e73e83d406461"]]},{"id":"408a3a793d037d78","type":"change","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"","rules":[{"t":"set","p":"userPath","pt":"msg","to":"Path","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":620,"wires":[["449830c1111ac7af"]]},{"id":"118e73e83d406461","type":"change","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"Filter Data to save csv","rules":[{"t":"set","p":"payload","pt":"msg","to":"data","tot":"msg","dc":true},{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"},{"t":"delete","p":"payload.original","pt":"msg"},{"t":"delete","p":"payload.modem_mac","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":520,"wires":[["786d6f384ff7ab2c"]]},{"id":"a4c28e8e2fbe8f33","type":"function","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"buld local path","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":560,"wires":[["03c2855b200f8f64"]]},{"id":"786d6f384ff7ab2c","type":"function","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"buld local path","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":520,"wires":[["03c2855b200f8f64"]]},{"id":"0c485e6ecfa637c6","type":"change","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"Filter Data to save csv","rules":[{"t":"set","p":"payload","pt":"msg","to":"data","tot":"msg","dc":true},{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"},{"t":"delete","p":"payload.original","pt":"msg"},{"t":"delete","p":"payload.modem_mac","pt":"msg"},{"t":"delete","p":"_msgid","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":560,"wires":[["a4c28e8e2fbe8f33"]]},{"id":"4eadb8292a6bfa19","type":"switch","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":910,"y":840,"wires":[["ee39f2efb1bd9985","3cbc8208ebbcef39"],["a7e02a7baa70da1f"]]},{"id":"08417597566ec76e","type":"change","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"","rules":[{"t":"set","p":"userPath","pt":"msg","to":"Path","tot":"env"},{"t":"set","p":"macSelection","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":840,"wires":[["4eadb8292a6bfa19"]]},{"id":"3cbc8208ebbcef39","type":"change","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":780,"wires":[["1f024e41592a26c9"]]},{"id":"ee39f2efb1bd9985","type":"change","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":840,"wires":[["1b9d2b8d2ae0ef4c"]]},{"id":"1b9d2b8d2ae0ef4c","type":"switch","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":840,"wires":[["e3b269b6dff4b9fb"]]},{"id":"1f024e41592a26c9","type":"switch","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":780,"wires":[["434bd71a151dd8a5"]]},{"id":"52158aa54711620b","type":"function","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"function 34","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1570,"y":840,"wires":[["41f9f3a9c123a773"]]},{"id":"98ebd6f0ef93ec4e","type":"function","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"function 35","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1570,"y":780,"wires":[["41f9f3a9c123a773"]]},{"id":"5403215f31278441","type":"ui-template","z":"1c822538c6478e5c","g":"66c8ecd118435a4a","group":"","page":"51ae55cbebdc7b9d","ui":"","name":"Style","order":0,"width":0,"height":0,"head":"","format":".v-main {\n    background-image: url(\"https://www.transparenttextures.com/patterns/cubes.png\");\n    background-repeat: repeat;\n    --v-layout-top: 0px !important;\n    --v-layout-left: 181px !important;\n    border-radius: 15px !important;\n}\n.bg-group-background{\n    background-color: rgb(117 190 218 / 50%) !important;\n    border-color: #D6DBD0 !important;\n}\n.nrdb-ui-group .v-card {\n    border-radius: 15px;\n}\n.v-toolbar{\n    left: 12px !important;\n    top: 119px !important;\n    width: 68px !important;\n    height: 62px !important;\n    border-radius: 15px;\n    background-color: rgb(117 190 218 / 50%) !important;\n}\n.v-navigation-drawer--left{\n    top: 186px !important;\n    height: 160px !important;\n    border-radius: 15px;\n    left: 12px !important;\n    width: 167px !important;\n    background-color: rgb(117 190 218 / 50%) !important;\n}\n.grupoInfo{\n    height: 100px !important;\n    top: 400px !important; \n    position: absolute;\n    left: 13px !important;\n    width: 165px !important;\n}\n/* Largo de grupos individual*/\n.grupoInfo .v-card{\n    height: 190px;\n}\n.nodeId .nrdb-ui-text{\n    height: 25px !important;\n}\n.historyGraph{\n    top: -20px !important;\n    position: relative !important;\n}\n.grupoSelectMac{\n    top: 614px !important;\n    width: 165px !important;\n    left: 13px !important;\n    position: absolute !important;\n}\n/* Largo de grupos individual*/\n.grupoSelectMac .v-card{\n    height: 155px;\n}\n.grupoDownload{\n    height: 100px !important;\n    top: 782px;\n    position: absolute;\n    left: 13px;\n    width: 165px !important;\n}\n/* Largo de grupos individual*/\n.grupoDownload .v-card{\n    height: 155px;\n}\n.grupos .v-card{\n    height: 321px;\n}\n.datePicker{\n    left: -12px;\n    width: 155px;\n    position: relative;\n}\n.objectButton{\n    position: absolute;\n    top: 120px !important;\n    width: 135px !important;\n}\n/*Color fondo boton*/\n.objectButton .v-btn{\n    background-color: #589FE2;\n}\n/*Largo grupos inspect*/\n.dataGroupE .v-card{\nheight: 978px !important;\n}","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"page:style","className":"","x":3510,"y":320,"wires":[[]]},{"id":"f168754a390f44eb","type":"ui-template","z":"1c822538c6478e5c","g":"66c8ecd118435a4a","group":"","page":"51ae55cbebdc7b9d","ui":"","name":"Logo","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <a href=\"https://ncd.io/\" target=\"_blank\">\n    <div class=\"logo2\">\n        <v-chip label size=\"x-large\" :width=\"144\" color=\"black\" text=\"ncd.io\"></v-chip>\n    </div>\n    </a>\n</template>\n<style>\n.logo2 {\n    transform: rotate(0deg);\n    width: 130px;\n    position: fixed;\n    top: 13px;\n    left: 12px;\n}\n.v-chip.v-chip--size-x-large {\n    --v-chip-height: 89px;\n    font-size: 2.125rem;\n    font-family: system-ui;\n}\n.v-chip--variant-tonal .v-chip__underlay {\n    border-radius: 15px !important;\n}\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":3390,"y":320,"wires":[[]]},{"id":"b301f38b5d2da705","type":"ui-template","z":"1c822538c6478e5c","g":"66c8ecd118435a4a","group":"","page":"51ae55cbebdc7b9d","ui":"","name":"product info","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <a href=\"https://store.ncd.io/product/industrial-iot-long-range-wireless-environmental-temperature-humidity-pressure-air-quality-sensor/\" target=\"_blank\">\n        <v-btn class=\"info\" color=\"white\" density=\"default\" append-icon=\"mdi-open-in-new\"> Product info </v-btn>\n    </a>\n</template>\n<style>\n.info{\n    top: -49px !important;\n    left: -160px;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":3250,"y":320,"wires":[[]]},{"id":"434bd71a151dd8a5","type":"change","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":780,"wires":[["98ebd6f0ef93ec4e"]]},{"id":"ea60f08a6548dd80","type":"link in","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"tempIn","links":["520fbd12de5b8874"],"x":2625,"y":680,"wires":[["747076e2b85a5fec"]]},{"id":"5cac7a1e2d225e4a","type":"link out","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"battout","mode":"link","links":["e87a936780016cb4"],"x":2835,"y":680,"wires":[]},{"id":"747076e2b85a5fec","type":"function","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"function 36","func":"let Timestamp = msg.data.received;\nlet data = msg.data.battery_percent;\nmsg = {};\nmsg.payload = {\n    \"Timestamp\" : Timestamp,\n    \"battery_percent\" : data\n}\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2730,"y":680,"wires":[["5cac7a1e2d225e4a"]]},{"id":"caad2b2260b8bf29","type":"link in","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"tempIn","links":["520fbd12de5b8874"],"x":2625,"y":1160,"wires":[["a9bad7229917569b"]]},{"id":"66e10eb8d9be3f09","type":"link out","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"iaqout","mode":"link","links":["51c0a070f15566e4"],"x":2835,"y":1160,"wires":[]},{"id":"a9bad7229917569b","type":"function","z":"1c822538c6478e5c","g":"8b84b84e2eab6073","name":"function 37","func":"let Timestamp = msg.data.received;\nlet data = msg.data.sensor_data.iaq;\nmsg = {};\nmsg.payload = {\n    \"Timestamp\" : Timestamp,\n    \"iaq\" : data\n}\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2730,"y":1160,"wires":[["66e10eb8d9be3f09"]]},{"id":"e3b269b6dff4b9fb","type":"change","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":840,"wires":[["52158aa54711620b"]]},{"id":"5d7535a03d575b60","type":"link out","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"link out 56","mode":"link","links":["72a1c83c61d318b1"],"x":2035,"y":740,"wires":[]},{"id":"72a1c83c61d318b1","type":"link in","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"link in 11","links":["5d7535a03d575b60"],"x":305,"y":840,"wires":[["1cfde01902c07789"]]},{"id":"2a314bb92fe112e5","type":"function","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"last(n)Items","func":"const x = msg.payload.slice(-20);\n\nfor (let index = 0; index < 20; index++) {\n    msg.payload = x[index];\n    node.send(msg) \n}\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1870,"y":840,"wires":[["cd0aa98ed0bc2376","b2e698ab671129f0"]]},{"id":"eacb403ecb054651","type":"function","z":"1c822538c6478e5c","g":"6b5ee08740de7ddc","name":"Set base path","func":"var basePath = msg.path;\nvar device = msg.device;\nvar filename = msg.date;\nmsg.filename = basePath + device + filename + \".csv\";\nreturn msg;\n\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2060,"y":1160,"wires":[["42918978268f815d"]]},{"id":"1894a66b9697e797","type":"http response","z":"1c822538c6478e5c","g":"6b5ee08740de7ddc","name":"","statusCode":"","headers":{},"x":2350,"y":1160,"wires":[]},{"id":"42918978268f815d","type":"file in","z":"1c822538c6478e5c","g":"6b5ee08740de7ddc","name":"","filename":"filename","filenameType":"msg","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":2220,"y":1160,"wires":[["1894a66b9697e797"]]},{"id":"95465ec8d83a81c2","type":"catch","z":"1c822538c6478e5c","g":"6b5ee08740de7ddc","name":"","scope":["42918978268f815d"],"uncaught":false,"x":1910,"y":1220,"wires":[["ae38180753bf5937","20d3417f79795990"]]},{"id":"6cb775e4e5206f28","type":"http in","z":"1c822538c6478e5c","g":"6b5ee08740de7ddc","name":"","url":"/log/:fn","method":"get","upload":false,"swaggerDoc":"","x":1430,"y":1160,"wires":[["a96e57cbf3e919af","c2c882591958d2df"]]},{"id":"081603eedfe605bf","type":"change","z":"1c822538c6478e5c","g":"6b5ee08740de7ddc","name":"","rules":[{"t":"set","p":"date","pt":"msg","to":"dateDownloadFile","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1890,"y":1160,"wires":[["eacb403ecb054651"]]},{"id":"a96e57cbf3e919af","type":"change","z":"1c822538c6478e5c","g":"6b5ee08740de7ddc","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1555,"y":1140,"wires":[["9dc67480e0ea6cd4"]],"l":false},{"id":"c2c882591958d2df","type":"change","z":"1c822538c6478e5c","g":"6b5ee08740de7ddc","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1555,"y":1180,"wires":[["0acb9e035a76aae8"]],"l":false},{"id":"9dc67480e0ea6cd4","type":"switch","z":"1c822538c6478e5c","g":"6b5ee08740de7ddc","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1605,"y":1140,"wires":[["7531cd5a19bac983"]],"l":false},{"id":"0acb9e035a76aae8","type":"switch","z":"1c822538c6478e5c","g":"6b5ee08740de7ddc","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1605,"y":1180,"wires":[["f3c22696df5f871f"]],"l":false},{"id":"7531cd5a19bac983","type":"change","z":"1c822538c6478e5c","g":"6b5ee08740de7ddc","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"/.node-red/log/\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"macSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$substring(device, 12)","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"/\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1720,"y":1140,"wires":[["081603eedfe605bf"]]},{"id":"a785a2afccb29dc3","type":"ui-notification","z":"1c822538c6478e5c","g":"6b5ee08740de7ddc","ui":"ec459411017ddf37","position":"center center","colorDefault":true,"color":"#000000","displayTime":"15","showCountdown":true,"outputs":0,"allowDismiss":true,"dismissText":"Close","raw":false,"className":"","name":"","x":2310,"y":1200,"wires":[]},{"id":"ae38180753bf5937","type":"function","z":"1c822538c6478e5c","g":"6b5ee08740de7ddc","name":"error message","func":"var error = \"Error: no such file or directory, open 'logger.csv'\";\nmsg = {};\nmsg.payload = error;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2060,"y":1200,"wires":[["92e1112c2b34060e"]]},{"id":"92e1112c2b34060e","type":"trigger","z":"1c822538c6478e5c","g":"6b5ee08740de7ddc","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"500","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":2175,"y":1200,"wires":[["a785a2afccb29dc3"]],"l":false},{"id":"f3c22696df5f871f","type":"change","z":"1c822538c6478e5c","g":"6b5ee08740de7ddc","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"\\\\.node-red\\\\log\\\\\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"macSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$substring(device,12)","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"\\\\\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1720,"y":1180,"wires":[["081603eedfe605bf"]]},{"id":"20d3417f79795990","type":"http response","z":"1c822538c6478e5c","g":"6b5ee08740de7ddc","name":"Redirecting","statusCode":"302","headers":{"location":"/dashboard/page1"},"x":2070,"y":1240,"wires":[]},{"id":"324bd3ce46308d58","type":"ui-text-input","z":"1c822538c6478e5c","g":"680e20dee78cb815","group":"c226f9dce8a869f8","name":"","label":"Date:","order":1,"width":"0","height":"0","topic":"topic","topicType":"msg","mode":"date","delay":300,"passthru":false,"sendOnDelay":false,"sendOnBlur":true,"sendOnEnter":true,"className":"datePicker","x":2970,"y":1140,"wires":[["1c149f34e1a2e073"]]},{"id":"c7d21ebcdd82e492","type":"ui-template","z":"1c822538c6478e5c","g":"680e20dee78cb815","group":"c226f9dce8a869f8","page":"","ui":"","name":"Download","order":2,"width":"3","height":"1","head":"","format":"<template>  \n    <a href=\"/log/logger.csv\">\n        <v-btn class=\"buttonDownload\" color=\"#589FE2\">Download CSV</v-btn>\n    </a>\n</template>\n<style>\n.buttonDownload {\n    top:12px !important;\n    width: 127px !important;\n}\n</style>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":2980,"y":1180,"wires":[[]]},{"id":"1c149f34e1a2e073","type":"change","z":"1c822538c6478e5c","g":"680e20dee78cb815","name":"","rules":[{"t":"set","p":"dateDownloadFile","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3150,"y":1140,"wires":[[]]},{"id":"6ea94485b689379d","type":"catch","z":"1c822538c6478e5c","g":"9604d0137f6db84f","name":"","scope":["3c532218cb745eaf"],"uncaught":false,"x":2190,"y":540,"wires":[[]]},{"id":"498a094c6963bde4","type":"ui-gauge","z":"1c822538c6478e5c","g":"272ed039d1835c5a","name":"","group":"ff5134e979e5fa26","order":1,"width":"2","height":"2","gtype":"gauge-34","gstyle":"rounded","title":"Battery","units":"%","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#f50000"},{"from":"10","color":"#e1ff00"},{"from":"50","color":"#fbff00"},{"from":"70","color":"#30b300"}],"min":"0","max":"100","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":3180,"y":920,"wires":[]},{"id":"82f233b76b9ba763","type":"ui-gauge","z":"1c822538c6478e5c","g":"272ed039d1835c5a","name":"","group":"ad197dd1876a8474","order":1,"width":"2","height":"2","gtype":"gauge-34","gstyle":"rounded","title":"IAQ","units":"","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#0097f5"},{"from":"10","color":"#30b300"},{"from":"87","color":"#fbff00"},{"from":"90","color":"#ff0000"}],"min":"0","max":"100","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":3190,"y":1000,"wires":[]},{"id":"302c73de627c5970","type":"ui-button","z":"1c822538c6478e5c","g":"d4d77bd44ee08604","group":"60c12cca1d1c69d2","name":"","label":"Inspect","order":2,"width":0,"height":0,"passthru":false,"tooltip":"","color":"","bgcolor":"","className":"objectButton","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":3380,"y":460,"wires":[["b7a5eea9b9a94f2a"]]},{"id":"7bd7e340c265e5f0","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"7a97fee81dbec830","order":2,"width":"0","height":"0","name":"Node ID","label":"Node ID","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3520,"y":600,"wires":[]},{"id":"85974c5cafa97320","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"7a97fee81dbec830","order":3,"width":"0","height":"0","name":"Firmware version","label":"Firmware version:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3550,"y":640,"wires":[]},{"id":"8ad798abe48b4a06","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"7a97fee81dbec830","order":4,"width":"0","height":"0","name":"Battery V","label":"Battery (V):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3520,"y":680,"wires":[]},{"id":"72a3979e7caccb46","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"7a97fee81dbec830","order":5,"width":"0","height":"0","name":"Battery Level","label":"Battery Level (%):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3530,"y":720,"wires":[]},{"id":"069bd21d3b072024","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"7a97fee81dbec830","order":6,"width":"0","height":"0","name":"Counter","label":"Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3520,"y":760,"wires":[]},{"id":"15c6893fde7f36dd","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"7a97fee81dbec830","order":7,"width":"0","height":"0","name":"Sensor type","label":"Sensor Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3530,"y":800,"wires":[]},{"id":"f38cc908a8cc27ac","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"7a97fee81dbec830","order":8,"width":"0","height":"0","name":"Sensor Name","label":"Sensor Name:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3540,"y":840,"wires":[]},{"id":"a14b202f9cb7b174","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"7a97fee81dbec830","order":9,"width":"0","height":"0","name":"Type","label":"Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3510,"y":880,"wires":[]},{"id":"7f5b7e92a7ae986b","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"7a97fee81dbec830","order":10,"width":"0","height":"0","name":"Address","label":"Address","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3520,"y":920,"wires":[]},{"id":"a1a0468677a51bfa","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.nodeId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":600,"wires":[["7bd7e340c265e5f0"]],"l":false},{"id":"050146b78d7c88a1","type":"link in","z":"1c822538c6478e5c","g":"023110289a880206","name":"link in 4","links":["520fbd12de5b8874"],"x":3335,"y":780,"wires":[["a1a0468677a51bfa","d0ba7fc00d15ce2e","ecca59c12ea916a8","c943f21ea7793085","13306548a132729e","82b3f49479c0c480","80812539cbf5ff07","eada8509e92b1b6e","dba33882c1437dd1","df860b13d07ec6e1"]]},{"id":"d0ba7fc00d15ce2e","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.firmware","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":640,"wires":[["85974c5cafa97320"]],"l":false},{"id":"ecca59c12ea916a8","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":680,"wires":[["8ad798abe48b4a06"]],"l":false},{"id":"c943f21ea7793085","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":720,"wires":[["72a3979e7caccb46"]],"l":false},{"id":"13306548a132729e","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":760,"wires":[["069bd21d3b072024"]],"l":false},{"id":"82b3f49479c0c480","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":800,"wires":[["15c6893fde7f36dd"]],"l":false},{"id":"80812539cbf5ff07","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":840,"wires":[["f38cc908a8cc27ac"]],"l":false},{"id":"eada8509e92b1b6e","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":880,"wires":[["a14b202f9cb7b174"]],"l":false},{"id":"dba33882c1437dd1","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.addr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":920,"wires":[["7f5b7e92a7ae986b"]],"l":false},{"id":"1173ebdccbabd739","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"7a97fee81dbec830","order":11,"width":"0","height":"0","name":"Receive","label":"Received:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3520,"y":960,"wires":[]},{"id":"df860b13d07ec6e1","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.received","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3425,"y":960,"wires":[["1173ebdccbabd739"]],"l":false},{"id":"de0127a4959c509a","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"7a97fee81dbec830","order":1,"width":"0","height":"0","name":"DATA","label":"DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":3510,"y":560,"wires":[]},{"id":"b7a5eea9b9a94f2a","type":"function","z":"1c822538c6478e5c","g":"d4d77bd44ee08604","name":"getTemUnit","func":"let toggle = context.get(\"toggle\") || 0;\nlet unit = {};\n\nif(!toggle) /* First time */\n{\n    unit = {\n        groups: \n        { \n            show: [\"ncd-environment:Inspect1\",\n                   \"ncd-environment:Inspect2\",\n                   \"ncd-environment:Inspect3\"],\n            hide: [\"ncd-environment:Temperature °F\", \n                \"ncd-environment:Temperature °C\",\n                \"ncd-environment:Pressure\",\n                \"ncd-environment:Humidity\",\n                \"ncd-environment:Gas Resistence\",\n                \"ncd-environment:Battery\",\n                \"ncd-environment:iaq\"]\n        } \n    }\n    toggle++;\n}\nelse /* Second time */\n{\n    unit = {\n        groups: \n        { \n            hide: [\"ncd-environment:Inspect1\",\n                   \"ncd-environment:Inspect2\",\n                   \"ncd-environment:Inspect3\"],\n            show: [\"ncd-environment:Temperature °C\",\n                   \"ncd-environment:Pressure\",\n                   \"ncd-environment:Humidity\",\n                   \"ncd-environment:Gas Resistence\",\n                   \"ncd-environment:Battery\",\n                   \"ncd-environment:iaq\"]\n        } \n    }\n    toggle = 0;\n}\ncontext.set(\"toggle\", toggle);\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3550,"y":460,"wires":[["6b373fc5a17576a5"]]},{"id":"1b0e118d4cca1bca","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"7a97fee81dbec830","order":11,"width":"3","height":"6","name":"relleno","label":"","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3510,"y":1000,"wires":[]},{"id":"6b373fc5a17576a5","type":"link out","z":"1c822538c6478e5c","g":"d4d77bd44ee08604","name":"link out 57","mode":"link","links":["2f0f2f511b4b9ab6"],"x":3655,"y":460,"wires":[]},{"id":"2f0f2f511b4b9ab6","type":"link in","z":"1c822538c6478e5c","g":"62ddd4fb656d9799","name":"link in 19","links":["6b373fc5a17576a5"],"x":2925,"y":240,"wires":[["23abb002b16d69d1"]]},{"id":"cf82b721b5f9b2b0","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"246854c4ee0fde63","order":1,"width":"0","height":"0","name":"ORIGINAL","label":"ORIGINAL","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":4310,"y":580,"wires":[]},{"id":"0719ad945eb1bda2","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"246854c4ee0fde63","order":2,"width":"0","height":"0","name":"MAC","label":"MAC:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":4290,"y":620,"wires":[]},{"id":"00c3e1cfad2dc57c","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4205,"y":620,"wires":[["0719ad945eb1bda2"]],"l":false},{"id":"970998f215e791c7","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"246854c4ee0fde63","order":3,"width":"0","height":"0","name":"RECEIVE OPTIONS","label":"RECEIVE OPTIONS","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":4340,"y":660,"wires":[]},{"id":"c65bd61862008b61","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"246854c4ee0fde63","order":4,"width":"0","height":"0","name":"ack","label":"ack:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":4290,"y":700,"wires":[]},{"id":"4cee9b68296ebe2a","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.ack","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4205,"y":700,"wires":[["c65bd61862008b61"]],"l":false},{"id":"7c983833b3cd530e","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"246854c4ee0fde63","order":5,"width":"0","height":"0","name":"broadcast","label":"broadcast:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":4300,"y":740,"wires":[]},{"id":"09e5ba07638bad07","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.broadcast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4205,"y":740,"wires":[["7c983833b3cd530e"]],"l":false},{"id":"0f43d852c1f0f5e3","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"246854c4ee0fde63","order":6,"width":"0","height":"0","name":"type","label":"type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":4290,"y":780,"wires":[]},{"id":"810a1dafb668b6cb","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4205,"y":780,"wires":[["0f43d852c1f0f5e3"]],"l":false},{"id":"b2bc250b036e79b1","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"246854c4ee0fde63","order":7,"width":"0","height":"0","name":"modem mac","label":"modem mac:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":4310,"y":820,"wires":[]},{"id":"2c28fb54b43cb4c2","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.modem_mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4205,"y":820,"wires":[["b2bc250b036e79b1"]],"l":false},{"id":"926587f5b7a80e84","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"246854c4ee0fde63","order":8,"width":"0","height":"0","name":"topic","label":"topic:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":4290,"y":860,"wires":[]},{"id":"59451fcb293774b5","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4205,"y":860,"wires":[["926587f5b7a80e84"]],"l":false},{"id":"7682615593e45aaf","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"246854c4ee0fde63","order":9,"width":"0","height":"0","name":"time","label":"time:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":4290,"y":900,"wires":[]},{"id":"934986ad6c7fd928","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.received","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4205,"y":900,"wires":[["7682615593e45aaf"]],"l":false},{"id":"eb33091ff75f8d89","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"246854c4ee0fde63","order":11,"width":"0","height":"0","name":"last received message","label":"Last received message at:","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":4340,"y":1000,"wires":[]},{"id":"c9fbde4899ccc75a","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$moment().format('MMMM Do YYYY, h:mm:ss a')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4205,"y":1000,"wires":[["eb33091ff75f8d89"]],"l":false},{"id":"c40cb09f8ec3c852","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"246854c4ee0fde63","order":10,"width":"0","height":"0","name":"relleno","label":"","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Impact,Impact,Charcoal,sans-serif","fontSize":"20","color":"#000000","className":"","x":4290,"y":960,"wires":[]},{"id":"3f71dfb4ab80f48f","type":"link in","z":"1c822538c6478e5c","g":"023110289a880206","name":"link in 17","links":["520fbd12de5b8874"],"x":4095,"y":800,"wires":[["00c3e1cfad2dc57c","4cee9b68296ebe2a","09e5ba07638bad07","810a1dafb668b6cb","2c28fb54b43cb4c2","59451fcb293774b5","934986ad6c7fd928","c9fbde4899ccc75a"]]},{"id":"8665bc11408d218e","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"43d7547b4a64d244","order":2,"width":"0","height":"0","name":"Temperature:","label":"Temperature:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3930,"y":600,"wires":[]},{"id":"c09e9b983a097e18","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3825,"y":600,"wires":[["8665bc11408d218e"]],"l":false},{"id":"76a80392d702bdf6","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"43d7547b4a64d244","order":3,"width":"0","height":"0","name":"Pressure:","label":"Pressure:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3920,"y":640,"wires":[]},{"id":"d895fd3b23162d80","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3825,"y":640,"wires":[["76a80392d702bdf6"]],"l":false},{"id":"c8273753d95a512a","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"43d7547b4a64d244","order":4,"width":"0","height":"0","name":"Humidity:","label":"Humidity:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3920,"y":680,"wires":[]},{"id":"78651b37fda7e97e","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3825,"y":680,"wires":[["c8273753d95a512a"]],"l":false},{"id":"366e6556847b408b","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"43d7547b4a64d244","order":5,"width":"0","height":"0","name":"Gas Resistance:","label":"Gas Resistance:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3940,"y":720,"wires":[]},{"id":"39d1c1133cc02b40","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.gas_resistance","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3825,"y":720,"wires":[["366e6556847b408b"]],"l":false},{"id":"ed53c57361fae312","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"43d7547b4a64d244","order":6,"width":"0","height":"0","name":"IAQ:","label":"IAQ:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3910,"y":760,"wires":[]},{"id":"2e0598c0d55d4186","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.iaq","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3825,"y":760,"wires":[["ed53c57361fae312"]],"l":false},{"id":"04372c043f5aca11","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"43d7547b4a64d244","order":1,"width":"0","height":"0","name":"SENSOR DATA (payload)","label":"SENSOR DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#000000","className":"","x":3930,"y":560,"wires":[]},{"id":"8cb6fb885c15ccf0","type":"link in","z":"1c822538c6478e5c","g":"023110289a880206","name":"link in 5","links":["520fbd12de5b8874"],"x":3715,"y":800,"wires":[["c09e9b983a097e18","d895fd3b23162d80","78651b37fda7e97e","39d1c1133cc02b40","2e0598c0d55d4186","887fa0455bf6a061","de8b996edf8a148b","5f1307ad5f10389e","2c67d703a96c9596","3971ccbd757ef54c","73332baf5c12fce8"]]},{"id":"8d951ff4217250a7","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"43d7547b4a64d244","order":7,"width":"0","height":"0","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3910,"y":800,"wires":[]},{"id":"887fa0455bf6a061","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.input_3_counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3825,"y":800,"wires":[["8d951ff4217250a7"]],"l":false},{"id":"ef6d30592cbf9785","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"43d7547b4a64d244","order":8,"width":"0","height":"0","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3910,"y":840,"wires":[]},{"id":"de8b996edf8a148b","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.input_3_timer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3825,"y":840,"wires":[["ef6d30592cbf9785"]],"l":false},{"id":"8ded43322ac843ab","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"43d7547b4a64d244","order":9,"width":"0","height":"0","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3910,"y":880,"wires":[]},{"id":"5f1307ad5f10389e","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.accelerometer_counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3825,"y":880,"wires":[["8ded43322ac843ab"]],"l":false},{"id":"657b44d5c8300f47","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"43d7547b4a64d244","order":10,"width":"0","height":"0","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3910,"y":920,"wires":[]},{"id":"2c67d703a96c9596","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.accelerometer_timer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3825,"y":920,"wires":[["657b44d5c8300f47"]],"l":false},{"id":"fec721981c001d25","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"43d7547b4a64d244","order":11,"width":"0","height":"0","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3910,"y":960,"wires":[]},{"id":"3971ccbd757ef54c","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.magnetometer_counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3825,"y":960,"wires":[["fec721981c001d25"]],"l":false},{"id":"65b4aedb0f593f32","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"43d7547b4a64d244","order":12,"width":"0","height":"0","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3910,"y":1000,"wires":[]},{"id":"73332baf5c12fce8","type":"change","z":"1c822538c6478e5c","g":"023110289a880206","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.magnetometer_timer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3825,"y":1000,"wires":[["65b4aedb0f593f32"]],"l":false},{"id":"42a9aa909afc62a4","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"43d7547b4a64d244","order":11,"width":"3","height":"5","name":"relleno","label":"","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":3910,"y":1040,"wires":[]},{"id":"0262f9b80636c814","type":"ui-text","z":"1c822538c6478e5c","g":"023110289a880206","group":"246854c4ee0fde63","order":11,"width":"3","height":"6","name":"relleno","label":"","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#424242","className":"","x":4290,"y":1040,"wires":[]},{"id":"c226f9dce8a869f8","type":"ui-group","z":"1c822538c6478e5c","name":"Download","page":"51ae55cbebdc7b9d","width":"6","height":"1","order":3,"showTitle":false,"className":"grupoDownload","visible":"true","disabled":"false"},{"id":"7a97fee81dbec830","type":"ui-group","z":"1c822538c6478e5c","name":"Inspect1","page":"51ae55cbebdc7b9d","width":"3","height":"1","order":11,"showTitle":false,"className":"dataGroupE ","visible":"true","disabled":"false"},{"id":"246854c4ee0fde63","type":"ui-group","z":"1c822538c6478e5c","name":"Inspect2","page":"51ae55cbebdc7b9d","width":"3","height":"1","order":13,"showTitle":false,"className":"dataGroupE ","visible":"true","disabled":"false"},{"id":"43d7547b4a64d244","type":"ui-group","z":"1c822538c6478e5c","name":"Inspect3","page":"51ae55cbebdc7b9d","width":"3","height":"1","order":12,"showTitle":false,"className":"dataGroupE ","visible":"true","disabled":"false"},{"id":"03c2855b200f8f64","type":"junction","z":"1c822538c6478e5c","g":"9604d0137f6db84f","x":1380,"y":540,"wires":[["22b843da4e59201b"]]},{"id":"5439dfa30b8bb8cb","type":"junction","z":"1c822538c6478e5c","g":"9604d0137f6db84f","x":1500,"y":920,"wires":[["42d50f17982d9253"]]},{"id":"a5318e84247ef6c8","type":"junction","z":"1c822538c6478e5c","g":"9604d0137f6db84f","x":680,"y":1020,"wires":[["942086edb0827ea9"]]},{"id":"7f13c0031d69bbde","type":"junction","z":"1c822538c6478e5c","g":"9604d0137f6db84f","x":1340,"y":700,"wires":[["22b843da4e59201b"]]},{"id":"42d50f17982d9253","type":"junction","z":"1c822538c6478e5c","g":"9604d0137f6db84f","x":1640,"y":920,"wires":[["41f9f3a9c123a773"]]},{"id":"5e3d4689f70b082d","type":"junction","z":"1c822538c6478e5c","g":"9604d0137f6db84f","x":700,"y":540,"wires":[["def2424c2f5fea8a","264dc715b289b946"]]},{"id":"08671cb15e9058fb","type":"junction","z":"1c822538c6478e5c","g":"9604d0137f6db84f","x":2200,"y":1020,"wires":[["66e2587948ca821b","b539b7756a7ba557"]]},{"id":"16e00ad4c326729a","type":"junction","z":"1c822538c6478e5c","g":"9604d0137f6db84f","x":1680,"y":660,"wires":[["635b4000991cfc33"]]},{"id":"a05eea19386de3bf","type":"junction","z":"1c822538c6478e5c","g":"9604d0137f6db84f","x":1540,"y":660,"wires":[["bd0f72c40a76cde4"]]},{"id":"e508af73166e3f45","type":"junction","z":"1c822538c6478e5c","g":"272ed039d1835c5a","x":3020,"y":600,"wires":[["dae6f71045419df9"]]},{"id":"f625d714248df137","type":"junction","z":"1c822538c6478e5c","g":"272ed039d1835c5a","x":3020,"y":560,"wires":[["078b223d78ec93d2"]]},{"id":"635b4000991cfc33","type":"junction","z":"1c822538c6478e5c","g":"9604d0137f6db84f","x":1740,"y":620,"wires":[[]]},{"id":"66c8ecd118435a4a","type":"group","z":"1c822538c6478e5c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["5403215f31278441","f168754a390f44eb","b301f38b5d2da705"],"x":3154,"y":279,"w":432,"h":82},{"id":"272ed039d1835c5a","type":"group","z":"1c822538c6478e5c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["078b223d78ec93d2","dae6f71045419df9","645920037c2aa8a5","0d10443488469fc0","a33a587975c79005","aa0b0ea50bd9ce39","b9d593d98e5c0721","92ec3d5fe2d95e9a","b31b362e19ceb503","0ae5c2e540ec5685","0da19a4590eca041","45c52e96a2eb55c1","034257efe14f7e0a","d515770b70f1962a","b54672ab5ffc069b","6a9dd5687ff2f4f2","43949d2b42fbd222","9e254f4a7b2f8a83","a67597cbd7659ad0","b76d2af419128206","f17ad95868eafaec","09ea0eec3efd3e10","4752aa5b88ab4728","a1687a70e2d57d93","18d806aa0f4d8445","a188b867f8a21a84","f9d2b7654ccb9512","8f7a861922403f0e","51c0a070f15566e4","e87a936780016cb4","1c34b08a63138ea2","e508af73166e3f45","f625d714248df137","498a094c6963bde4","82f233b76b9ba763"],"x":2924,"y":399,"w":342,"h":682},{"id":"62ddd4fb656d9799","type":"group","z":"1c822538c6478e5c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["23abb002b16d69d1","f01a844b0ec1721b","c4288b91c168fe8e","6244859883f7b694","3dbef0cef43af493","5d62fa22d3ca1c90","26885fbdabdc10d3","2f0f2f511b4b9ab6"],"x":2554,"y":159,"w":572,"h":202},{"id":"8b84b84e2eab6073","type":"group","z":"1c822538c6478e5c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["0be72f1d22dd091f","810a5007d070da40","066eebdc6e9fd4a8","abe611574c01fc86","072d8f02ec56bc0e","367d39645349c732","12bc73ff10a657ca","f718d555ae766459","d03acde1b071db8b","5caf3fb9dab7d82f","14c90b2433fa32e8","2ae89843c341cc1c","273a66acfaeb9a1e","2b3a343ca2d7344a","05532c4ff572ba08","a49fd0d9babde660","cd2a0e77c503c626","91ce0beb45c0c57d","f0b0a12c6f67f9d2","31cd7ffd4cd9a4e2","9450a21bff29b366","ee42c1c09b7d785f","493a92cefa9a8c4f","0b325fdc3699933d","7ddc993477ad5f25","02473ea0b9117a3e","a4eadab2e0f36cca","066d8bfc7e5ee4cb","195139ab760789ae","8fa9f7aa371c50a8","3c97356547400cd4","5bf44877c6e1d1cb","68f63e118b1f2920","ea60f08a6548dd80","5cac7a1e2d225e4a","747076e2b85a5fec","caad2b2260b8bf29","66e10eb8d9be3f09","a9bad7229917569b"],"x":2584,"y":399,"w":292,"h":802},{"id":"680e20dee78cb815","type":"group","z":"1c822538c6478e5c","name":"","style":{"fill":"none","label":true},"nodes":["324bd3ce46308d58","c7d21ebcdd82e492","1c149f34e1a2e073"],"x":2894,"y":1099,"w":392,"h":122},{"id":"6b5ee08740de7ddc","type":"group","z":"1c822538c6478e5c","name":"","style":{"fill":"none","label":true},"nodes":["eacb403ecb054651","1894a66b9697e797","42918978268f815d","95465ec8d83a81c2","6cb775e4e5206f28","081603eedfe605bf","a96e57cbf3e919af","c2c882591958d2df","9dc67480e0ea6cd4","0acb9e035a76aae8","7531cd5a19bac983","a785a2afccb29dc3","ae38180753bf5937","92e1112c2b34060e","f3c22696df5f871f","20d3417f79795990"],"x":1334,"y":1099,"w":1092,"h":182},{"id":"023110289a880206","type":"group","z":"1c822538c6478e5c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["7bd7e340c265e5f0","85974c5cafa97320","8ad798abe48b4a06","72a3979e7caccb46","069bd21d3b072024","15c6893fde7f36dd","f38cc908a8cc27ac","a14b202f9cb7b174","7f5b7e92a7ae986b","a1a0468677a51bfa","050146b78d7c88a1","d0ba7fc00d15ce2e","ecca59c12ea916a8","c943f21ea7793085","13306548a132729e","82b3f49479c0c480","80812539cbf5ff07","eada8509e92b1b6e","dba33882c1437dd1","1173ebdccbabd739","df860b13d07ec6e1","de0127a4959c509a","1b0e118d4cca1bca","cf82b721b5f9b2b0","0719ad945eb1bda2","00c3e1cfad2dc57c","970998f215e791c7","c65bd61862008b61","4cee9b68296ebe2a","7c983833b3cd530e","09e5ba07638bad07","0f43d852c1f0f5e3","810a1dafb668b6cb","b2bc250b036e79b1","2c28fb54b43cb4c2","926587f5b7a80e84","59451fcb293774b5","7682615593e45aaf","934986ad6c7fd928","eb33091ff75f8d89","c9fbde4899ccc75a","c40cb09f8ec3c852","3f71dfb4ab80f48f","8665bc11408d218e","c09e9b983a097e18","76a80392d702bdf6","d895fd3b23162d80","c8273753d95a512a","78651b37fda7e97e","366e6556847b408b","39d1c1133cc02b40","ed53c57361fae312","2e0598c0d55d4186","04372c043f5aca11","8cb6fb885c15ccf0","8d951ff4217250a7","887fa0455bf6a061","ef6d30592cbf9785","de8b996edf8a148b","8ded43322ac843ab","5f1307ad5f10389e","657b44d5c8300f47","2c67d703a96c9596","fec721981c001d25","3971ccbd757ef54c","65b4aedb0f593f32","73332baf5c12fce8","42a9aa909afc62a4","0262f9b80636c814"],"x":3294,"y":519,"w":1172,"h":562},{"id":"d4d77bd44ee08604","type":"group","z":"1c822538c6478e5c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["302c73de627c5970","b7a5eea9b9a94f2a","6b373fc5a17576a5"],"x":3294,"y":419,"w":402,"h":82},{"id":"9604d0137f6db84f","type":"group","z":"1c822538c6478e5c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["520fbd12de5b8874","b539b7756a7ba557","66e2587948ca821b","b2e698ab671129f0","41f9f3a9c123a773","fb35e3523ff77952","84e35043a1b67194","22b843da4e59201b","482a07b9f0f25734","dfafe1c34f25f72a","1cfde01902c07789","1bab654e507b3bb1","a7e02a7baa70da1f","d87c516b3de04414","cd0aa98ed0bc2376","3c532218cb745eaf","92e64d609a896a40","942086edb0827ea9","20c619e061614425","86583a584fbf2e83","8d31f28c081d472f","75b8a7952bb1edc1","d07ba1fd9a3e68ec","349c6f6e9b5617a6","5279c8b9398ddf4c","175c4d6732b6f7c2","bd0f72c40a76cde4","9e678a36f9c8fdf4","2f0785009ff0df94","449830c1111ac7af","def2424c2f5fea8a","264dc715b289b946","cb9a5eee5edd08c8","06fe325ca2555aea","408a3a793d037d78","118e73e83d406461","a4c28e8e2fbe8f33","786d6f384ff7ab2c","0c485e6ecfa637c6","4eadb8292a6bfa19","08417597566ec76e","3cbc8208ebbcef39","ee39f2efb1bd9985","1b9d2b8d2ae0ef4c","1f024e41592a26c9","52158aa54711620b","98ebd6f0ef93ec4e","434bd71a151dd8a5","e3b269b6dff4b9fb","5d7535a03d575b60","72a1c83c61d318b1","2a314bb92fe112e5","6ea94485b689379d","03c2855b200f8f64","5439dfa30b8bb8cb","a5318e84247ef6c8","7f13c0031d69bbde","42d50f17982d9253","5e3d4689f70b082d","08671cb15e9058fb","16e00ad4c326729a","a05eea19386de3bf","635b4000991cfc33"],"x":264,"y":479,"w":2162,"h":582},{"id":"6531a2afa5222cb2","type":"ui-group","name":"Temperature °C","page":"51ae55cbebdc7b9d","width":"6","height":"1","order":5,"showTitle":false,"className":"grupos","visible":"true","disabled":"false"},{"id":"b798fcc7ba3f3b0d","type":"ui-group","name":"Pressure","page":"51ae55cbebdc7b9d","width":"6","height":"1","order":6,"showTitle":false,"className":"grupos","visible":"true","disabled":"false"},{"id":"7aef9892006a692d","type":"ui-group","name":"Humidity","page":"51ae55cbebdc7b9d","width":"6","height":"1","order":7,"showTitle":false,"className":"grupos","visible":"true","disabled":"false"},{"id":"b1d7ab8c6792dd26","type":"ui-group","name":"Gas Resistence","page":"51ae55cbebdc7b9d","width":"6","height":"1","order":8,"showTitle":false,"className":"grupos","visible":"true","disabled":"false"},{"id":"c143551b35e403f6","type":"ui-group","name":"Temperature °F","page":"51ae55cbebdc7b9d","width":"6","height":"1","order":4,"showTitle":false,"className":"grupos","visible":"true","disabled":"false"},{"id":"ec459411017ddf37","type":"ui-base","name":"ncd-ui-base","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"navigationStyle":"default"},{"id":"a8298a637285cea3","type":"ui-group","name":"Select MAC","page":"51ae55cbebdc7b9d","width":"2","height":"1","order":1,"showTitle":false,"className":"grupoSelectMac","visible":"true","disabled":"false"},{"id":"60c12cca1d1c69d2","type":"ui-group","name":"Information","page":"51ae55cbebdc7b9d","width":"2","height":"1","order":2,"showTitle":false,"className":"grupoInfo","visible":"true","disabled":"false"},{"id":"ff5134e979e5fa26","type":"ui-group","name":"Battery","page":"51ae55cbebdc7b9d","width":"6","height":"1","order":9,"showTitle":false,"className":"grupos","visible":"true","disabled":"false"},{"id":"ad197dd1876a8474","type":"ui-group","name":"iaq","page":"51ae55cbebdc7b9d","width":"6","height":"1","order":10,"showTitle":false,"className":"grupos","visible":"true","disabled":"false"},{"id":"51ae55cbebdc7b9d","type":"ui-page","name":"ncd-environment","ui":"ec459411017ddf37","path":"/environment","icon":"sprout-outline","layout":"grid","theme":"325a155a6ffab6dd","order":1,"className":"","visible":"true","disabled":"false"},{"id":"325a155a6ffab6dd","type":"ui-theme","name":"ncdTheme","colors":{"surface":"#0099cc","primary":"#0931fb","bgPage":"#a3a7a8","groupBg":"#84daf0","groupOutline":"#9da2a4"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"10px"}},{"id":"37d4f19ead426eea","type":"subflow:1c822538c6478e5c","z":"f7e6e9f6ecdc91b3","name":"","x":740,"y":480,"wires":[]}]
